
  
  
      <style>
        @font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAopxRSW3w&skey=cd068b3e1b767e51&v=v14) format('woff');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAkJxRSW3w&skey=cd068b3e1b767e51&v=v14) format('woff');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwARZtRSW3w&skey=cd068b3e1b767e51&v=v14) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu6-K6z9mXgjU0.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu0-K6z9mXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu6-K6z9mXgjU0.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu0-K6z9mXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu6-K6z9mXgjU0.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu0-K6z9mXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

      </style>
    
  <style>
    .gps-505937819588363143 .absolute{position:absolute}.gps-505937819588363143 .relative{position:relative}.gps-505937819588363143 .inset-0{inset:0}.gps-505937819588363143 .left-\[var\(--left\)\]{left:var(--left)}.gps-505937819588363143 .top-\[var\(--top\)\]{top:var(--top)}.gps-505937819588363143 .z-1{z-index:1}.gps-505937819588363143 .mx-auto{margin-left:auto;margin-right:auto}.gps-505937819588363143 .mb-0{margin-bottom:0}.gps-505937819588363143 .flex{display:flex}.gps-505937819588363143 .grid{display:grid}.gps-505937819588363143 .h-full{height:100%}.gps-505937819588363143 .w-full{width:100%}.gps-505937819588363143 .max-w-full{max-width:100%}.gps-505937819588363143 .flex-col{flex-direction:column}.gps-505937819588363143 .items-center{align-items:center}.gps-505937819588363143 .\!justify-center{justify-content:center!important}.gps-505937819588363143 .justify-center{justify-content:center}.gps-505937819588363143 .gap-y-0{row-gap:0}.gps-505937819588363143 .self-center{align-self:center}.gps-505937819588363143 .overflow-hidden{overflow:hidden}.gps-505937819588363143 .bg-clip-content{background-clip:content-box}.gps-505937819588363143 .text-g-bg-3{color:var(--g-c-bg-3)}.gps-505937819588363143 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-505937819588363143 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-505937819588363143 .transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-505937819588363143 .duration-200{transition-duration:.2s}.gps-505937819588363143 .duration-300{transition-duration:.3s}.gps-505937819588363143 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-505937819588363143 .group\/hero:hover .group-hover\/hero\:bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-505937819588363143 .group\/hero:hover .group-hover\/hero\:opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}@media (max-width:1023px){.gps-505937819588363143 .tablet\:relative{position:relative}.gps-505937819588363143 .tablet\:\!content-stretch{align-content:stretch!important}.gps-505937819588363143 .tablet\:\!justify-center{justify-content:center!important}}@media (max-width:767px){.gps-505937819588363143 .mobile\:relative{position:relative}.gps-505937819588363143 .mobile\:\!content-stretch{align-content:stretch!important}.gps-505937819588363143 .mobile\:\!justify-center{justify-content:center!important}}@media (max-width:1023px){.gps-505937819588363143 .tablet\:\[\&\>\*\]\:\!justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-505937819588363143 .mobile\:\[\&\>\*\]\:\!justify-center>*{justify-content:center!important}}.gps-505937819588363143 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-505937819588363143 .\[\&_p\]\:inline p{display:inline}.gps-505937819588363143 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-505937819588363143 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g7Z9GnnCo-"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(undefined);--pb:var(undefined);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g7Z9GnnCo- mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ggDCDtqKb2 relative flex flex-col"
    >
      
    
    
    <link rel="preload" href="https://cdn.shopify.com/s/files/1/0583/8969/2594/files/499742552031757542-269035ba-19c9-45a9-b136-71b8df522f98.png" as="image" />
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    <gp-hero-banner
      gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0583/8969/2594/files/499742552031757542-327be14f-687d-4e44-b67d-21e484f229a2.png","width":1920,"height":1080,"backupFileKey":"499742552031757542-327be14f-687d-4e44-b67d-21e484f229a2.png","storage":"FILE_CONTENT"},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"https://www.youtube.com/watch?v=0s5p059eXOU"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0583/8969/2594/files/499742552031757542-327be14f-687d-4e44-b67d-21e484f229a2.png","width":1920,"height":1080,"backupFileKey":"499742552031757542-327be14f-687d-4e44-b67d-21e484f229a2.png","storage":"FILE_CONTENT"},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"https://www.youtube.com/watch?v=0s5p059eXOU"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0583/8969/2594/files/499742552031757542-269035ba-19c9-45a9-b136-71b8df522f98.png","width":1080,"height":1080,"backupFileKey":"499742552031757542-269035ba-19c9-45a9-b136-71b8df522f98.png","storage":"FILE_CONTENT"},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"gNR7OYMAA4","enableParallax":false,"speedParallax":0.6}'
      
      class="gNR7OYMAA4 group/hero flex flex-col self-center transition-colors duration-200 ease-in-out w-full"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pb:0px;--pt-mobile:0px;--pb-mobile:0px;--pt-tablet:0px;--pb-tablet:0px;--h:autopx;--h-tablet:autopx;--h-mobile:autopx;--w:100%;--w-tablet:100%;--w-mobile:100%"
    >
      <div
      class="relative flex flex-col items-center overflow-hidden !justify-center tablet:!justify-center mobile:!justify-center"
        style="--h:autopx;--h-tablet:autopx;--h-mobile:autopx"
      >
        <div class="absolute w-full h-full">
          <div
            class="overflow-hidden w-full h-full"
            style="--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;clip-path:inset(0 0)">
            <div
              aria-label="Background Image"
              role="banner"
              class="gp-hero-banner-bg absolute inset-0 left-[var(--left)] top-[var(--top)] transition-transform flex items-center justify-center bg-clip-content"
              style="--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgi:url({{ "499742552031757542-327be14f-687d-4e44-b67d-21e484f229a2.png" | file_url }});--bgi-tablet:url({{ "499742552031757542-327be14f-687d-4e44-b67d-21e484f229a2.png" | file_url }});--bgi-mobile:url({{ "499742552031757542-269035ba-19c9-45a9-b136-71b8df522f98.png" | file_url }});--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:1.1;--top:0;--left:0;--w:100%;--h:100%;--pos:absolute;--bga:scroll;--w-tablet:100%;--h-tablet:100%;--pos-tablet:absolute;--bga-tablet:scroll;--w-mobile:100%;--h-mobile:100%;--pos-mobile:absolute;--bga-mobile:scroll"
            > </div>
          </div>
          <div
          aria-label="Overlay"
          role="banner"
          class="absolute inset-0 left-[var(--left)] top-[var(--top)] transition-all duration-300 group-hover/hero:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#121212;--top:0;--left:0;--op:0%"
        > </div>
        </div>
        <a
            href="https://www.youtube.com/watch?v=0s5p059eXOU"
            target="_blank"
            aria-label="Hero banner link"
            class="absolute inset-0 z-1"
          > </a>
        
      
      
    <div
      id
        style="--cg:auto;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="gp-hero-banner-row z-1 w-full tablet:relative mobile:relative tablet:[&>*>*]:!justify-undefined mobile:[&>*>*]:!justify-undefined tablet:!content-stretch tablet:[&>*]:!justify-center mobile:!content-stretch mobile:[&>*]:!justify-center mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gyF5O-8oxr relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gQAjY7Yxdd"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:188px;--mb:188px;--pt:0px;--pb:0px;--mt-mobile:150px;--mb-mobile:150px;--pl-mobile:15px;--pr-mobile:15px;--cg:auto;--pc:start;--gtc:minmax(0, 12fr);--w:744px;--w-tablet:744px;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQAjY7Yxdd mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g9MjMOFdkJ relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gRlXQPup7s "
        style="--tt:uppercase;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-m)"
      >
      <div class="flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] text-g-bg-3 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-DM-Sans, 'DM Sans');--weight:400;--ls:normal;--lh:150%;--size:19px;--size-tablet:19px;--size-mobile:17px;--tt:uppercase;word-break:break-word;overflow:hidden"
        >
        
        </h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gh5TjtkBTb "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] text-g-bg-3 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-DM-Sans, 'DM Sans');--weight:500;--ls:normal;--lh:130%;--size:48px;--size-tablet:48px;--size-mobile:42px;word-break:break-word;overflow:hidden"
        >
        
        </h2>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
        <picture style="border-radius: inherit" class="w-full">
    <link rel="preload" href="{{ "499742552031757542-327be14f-687d-4e44-b67d-21e484f229a2.png" | file_img_url: 'master' }}" as="image" />
    <link rel="preload" href="{{ "499742552031757542-327be14f-687d-4e44-b67d-21e484f229a2.png" | file_img_url: 'master' }}" as="image" />
    <link rel="preload" href="{{ "499742552031757542-269035ba-19c9-45a9-b136-71b8df522f98.png" | file_img_url: 'master' }}" as="image" />
    <source media="(max-width: 767px)" data-srcSet="{{ "499742552031757542-269035ba-19c9-45a9-b136-71b8df522f98.png" | file_img_url: 'master' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
    <source media="(max-width: 1023px)" data-srcSet="{{ "499742552031757542-327be14f-687d-4e44-b67d-21e484f229a2.png" | file_img_url: 'master' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
    <img
      
      class="gp_lazyload"
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
      data-src="{{ "499742552031757542-327be14f-687d-4e44-b67d-21e484f229a2.png" | file_img_url: 'master' }}"
      alt=""
      style="--aspect:1920/1080;--aspect-tablet:1920/1080;--aspect-mobile:1080/1080;--d:none;--d-tablet:none;--d-mobile:none;--h:autopx;--h-tablet:autopx;--h-mobile:autopx;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
    />
  </picture>
      </div>
    </gp-hero-banner>
  
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-505937819588363143 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/familidoo/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=505937778584847239&sectionId=505937819588363143)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
