
  
  
  <style>
    .gps-506353758632936554 .mobile\:rotate-0,.gps-506353758632936554 .mobile\:rotate-180,.gps-506353758632936554 .rotate-0,.gps-506353758632936554 .rotate-180,.gps-506353758632936554 .tablet\:rotate-0,.gps-506353758632936554 .tablet\:rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-506353758632936554 .shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-506353758632936554 .blur{--tw-blur: ;--tw-brightness: ;--tw-contrast: ;--tw-grayscale: ;--tw-hue-rotate: ;--tw-invert: ;--tw-saturate: ;--tw-sepia: ;--tw-drop-shadow: }.gps-506353758632936554 .pointer-events-auto{pointer-events:auto}.gps-506353758632936554 .\!absolute{position:absolute!important}.gps-506353758632936554 .absolute{position:absolute}.gps-506353758632936554 .relative{position:relative}.gps-506353758632936554 .z-2{z-index:2}.gps-506353758632936554 .mx-auto{margin-left:auto;margin-right:auto}.gps-506353758632936554 .my-0{margin-bottom:0;margin-top:0}.gps-506353758632936554 .mb-0{margin-bottom:0}.gps-506353758632936554 .block{display:block}.gps-506353758632936554 .\!inline{display:inline!important}.gps-506353758632936554 .flex{display:flex}.gps-506353758632936554 .grid{display:grid}.gps-506353758632936554 .hidden{display:none}.gps-506353758632936554 .aspect-square{aspect-ratio:1/1}.gps-506353758632936554 .h-full{height:100%}.gps-506353758632936554 .\!min-h-full{min-height:100%!important}.gps-506353758632936554 .w-\[12px\]{width:12px}.gps-506353758632936554 .w-full{width:100%}.gps-506353758632936554 .max-w-full{max-width:100%}.gps-506353758632936554 .shrink-0{flex-shrink:0}.gps-506353758632936554 .rotate-0{--tw-rotate:0deg}.gps-506353758632936554 .rotate-0,.gps-506353758632936554 .rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-506353758632936554 .rotate-180{--tw-rotate:180deg}.gps-506353758632936554 .cursor-pointer{cursor:pointer}.gps-506353758632936554 .\!flex-row{flex-direction:row!important}.gps-506353758632936554 .flex-row{flex-direction:row}.gps-506353758632936554 .flex-col{flex-direction:column}.gps-506353758632936554 .\!flex-nowrap{flex-wrap:nowrap!important}.gps-506353758632936554 .items-center{align-items:center}.gps-506353758632936554 .justify-center{justify-content:center}.gps-506353758632936554 .justify-between{justify-content:space-between}.gps-506353758632936554 .gap-2{gap:8px}.gps-506353758632936554 .gap-y-0{row-gap:0}.gps-506353758632936554 .overflow-hidden{overflow:hidden}.gps-506353758632936554 .rounded-full{border-radius:9999px}.gps-506353758632936554 .border{border-width:1px}.gps-506353758632936554 .text-center{text-align:center}.gps-506353758632936554 .text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-506353758632936554 .shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-506353758632936554 .blur{--tw-blur:blur(8px);filter:var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)}.gps-506353758632936554 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-506353758632936554 .duration-200{transition-duration:.2s}.gps-506353758632936554 .ease-in{transition-timing-function:cubic-bezier(.4,0,1,1)}.gps-506353758632936554 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-506353758632936554 .tablet\:\!absolute{position:absolute!important}.gps-506353758632936554 .tablet\:absolute{position:absolute}.gps-506353758632936554 .tablet\:z-2{z-index:2}.gps-506353758632936554 .tablet\:block{display:block}.gps-506353758632936554 .tablet\:flex{display:flex}.gps-506353758632936554 .tablet\:\!min-h-full{min-height:100%!important}.gps-506353758632936554 .tablet\:w-full{width:100%}.gps-506353758632936554 .tablet\:rotate-0{--tw-rotate:0deg}.gps-506353758632936554 .tablet\:rotate-0,.gps-506353758632936554 .tablet\:rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-506353758632936554 .tablet\:rotate-180{--tw-rotate:180deg}.gps-506353758632936554 .tablet\:\!flex-row{flex-direction:row!important}.gps-506353758632936554 .tablet\:flex-row{flex-direction:row}.gps-506353758632936554 .tablet\:\!flex-nowrap{flex-wrap:nowrap!important}.gps-506353758632936554 .tablet\:px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-506353758632936554 .mobile\:\!absolute{position:absolute!important}.gps-506353758632936554 .mobile\:absolute{position:absolute}.gps-506353758632936554 .mobile\:z-2{z-index:2}.gps-506353758632936554 .mobile\:block{display:block}.gps-506353758632936554 .mobile\:flex{display:flex}.gps-506353758632936554 .mobile\:\!min-h-full{min-height:100%!important}.gps-506353758632936554 .mobile\:w-full{width:100%}.gps-506353758632936554 .mobile\:rotate-0{--tw-rotate:0deg}.gps-506353758632936554 .mobile\:rotate-0,.gps-506353758632936554 .mobile\:rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-506353758632936554 .mobile\:rotate-180{--tw-rotate:180deg}.gps-506353758632936554 .mobile\:\!flex-row{flex-direction:row!important}.gps-506353758632936554 .mobile\:flex-row{flex-direction:row}.gps-506353758632936554 .mobile\:\!flex-nowrap{flex-wrap:nowrap!important}.gps-506353758632936554 .mobile\:px-0{padding-left:0;padding-right:0}}.gps-506353758632936554 .\[\&\>svg\]\:h-full>svg{height:100%}.gps-506353758632936554 .\[\&\>svg\]\:w-full>svg{width:100%}.gps-506353758632936554 .\[\&_\*\]\:max-w-full *{max-width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="geaC7bK3ex"
        style="--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="geaC7bK3ex mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gkda34gBhg relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="goBvYe-Qum"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="goBvYe-Qum mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gljTAVCWj4 relative flex flex-col"
    >
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-carousel-v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    <gp-carousel  id="gp-root-carousel-gHAI5earQg-{{section.id}}" class="  group/carousel flex""  gp-data='{"id":"gHAI5earQg-{{section.id}}","setting":{"childItem":["Slide 2","Slide 3","Slide 1","Slide 4","Slide 5"],"itemNumber":{"desktop":3},"sneakPeak":{"desktop":true},"sneakPeakType":{"desktop":"center"},"sneakPeakOffsetForward":{"desktop":50},"sneakPeakOffsetCenter":{"desktop":50},"vertical":{"desktop":false},"controlOverContent":{"desktop":true},"dot":{"desktop":true,"tablet":true,"mobile":true},"dotStyle":{"desktop":"inside","mobile":"inside"},"dotSize":{"desktop":12},"dotGapToCarousel":{"desktop":16},"dotColor":{"desktop":"#EE6A77","mobile":"#EE6A77"},"dotActiveColor":{"desktop":"#FFE593","mobile":"#FFE593"},"navigationStyle":{"desktop":"inside","mobile":"inside"},"arrowCustom":"<svg width=\"20\" height=\"20\" viewBox=\"0 0 20 20\" fill=\"currentColor\" xmlns=\"http://www.w3.org/2000/svg\">\n              <path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z\"/>\n              </svg>\n              ","arrowCustomColor":"#000000","arrowIconSize":{"desktop":24},"arrowButtonSize":{"desktop":{"shapeValue":"1/1","shapeLinked":true,"width":"32px","height":"32px","padding":{"linked":true}}},"arrowBackgroundColor":"transparent","arrowBorder":{"desktop":{"borderType":"none","border":"none","borderWidth":"1px","width":"1px 1px 1px 1px","isCustom":false}},"roundedArrow":{"desktop":{"radiusType":"small"}},"arrowGapToEachSide":"16","showWhenHover":false,"autoplay":false,"autoplayTimeout":2,"pauseOnHover":true,"runPreview":false,"enableDrag":{"desktop":false,"mobile":true},"loop":{"desktop":true,"mobile":true},"animationMode":"ease-in","background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"label":true},"styles":{"fullWidth":{"desktop":false,"tablet":false,"mobile":false},"sizeSetting":{"desktop":{"shapeLinked":false,"width":"default","height":"auto"},"mobile":{"shapeLinked":false,"width":"100%","height":"auto","shape":"","shapeValue":"","customShapeValue":"","gap":""}},"playSpeed":500,"align":{"desktop":"center"},"borderContent":{"borderType":"none","border":"none","width":"1px 1px 1px 1px","position":"all","borderWidth":"1px","color":"#121212","isCustom":true},"roundedContent":{"btrr":"8px","bblr":"8px","bbrr":"8px","btlr":"8px","radiusType":"custom"},"hasActiveShadow":false,"carouselShadow":{"type":"shadow-1","distance":"4px","blur":"12px","spread":"0px","color":"#121212","angle":90},"spacing":{"desktop":16,"mobile":"1"}},"isHiddenArrowWhenDisabled":true}' style="--jc:center">
      <div class="hidden aspect-square w-[12px] rounded-full shadow-md"></div>
      <div
        
        class="relative my-0 tablet:px-0 max-w-full mobile:px-0 gp-carousel-wrapper mobile:block tablet:block block gHAI5earQg"
        style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--w:var(--g-ct-w);--w-tablet:var(--g-ct-w);--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      >
        <div
          class="h-full relative mx-auto flex items-center justify-between  mobile:!flex-row tablet:!flex-row !flex-row"
          style="--h:100%;--h-tablet:100%;--h-mobile:100%;gap:16px"
        >
          
    <button
      type="button"
      class="gp-carousel-action-back gem-slider-previous gHAI5earQg-{{section.id}} gp-carousel-arrow-gHAI5earQg items-center justify-center overflow-hidden shrink-0  cursor-pointer text-gray-500 !absolute z-2 tablet:!absolute tablet:z-2 mobile:!absolute mobile:z-2"
      style="--left:16px;--top:initial;--right:initial;--bottom:;--left-tablet:16px;--top-tablet:initial;--right-tablet:initial;--bottom-tablet:;--left-mobile:16px;--top-mobile:initial;--right-mobile:initial;--bottom-mobile:;--d:flex;--d-tablet:flex;--d-mobile:flex;background-color:transparent;--w:32px;--h:32px"
      onClick={onClick}
      
    >
      <div 
  class="flex items-center justify-center [&>svg]:h-full [&>svg]:w-full rotate-180 tablet:rotate-180 mobile:rotate-180"
  style="--c:#000000;--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
  >
    <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z"/>
              </svg>
              
    </div>
      <style>
    .gp-carousel-arrow-gHAI5earQg {
      border-radius: var(--g-radius-small);
    }
    .gp-carousel-arrow-gHAI5earQg::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      .gp-carousel-arrow-gHAI5earQg {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gHAI5earQg::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
    @media only screen and (max-width: 768px) {
      .gp-carousel-arrow-gHAI5earQg {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gHAI5earQg::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
  </style>
    </button>
  
          <div id="gp-carousel-gHAI5earQg-{{section.id}}" class="gem-slider h-full overflow-hidden mobile:!flex-nowrap tablet:!flex-nowrap !flex-nowrap mobile:!min-h-full tablet:!min-h-full !min-h-full"
          style="--cg-mobile:1px;--cg-tablet:16px;--cg:16px">
          
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      tag="CarouselItem" label="Carousel Item" type="component"
      style="--bgc:transparent;--minw:calc(100% / 2 - 8px);--minw-tablet:calc(100% / 2 - 8px);--minw-mobile:calc(100% / 2 - 0.5px);--maxw:calc(100% / 2 - 8px);--maxw-tablet:calc(100% / 2 - 8px);--maxw-mobile:calc(100% / 2 - 0.5px);--b:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--ml:calc((100% / 2 - 8px + 16px) * 0.5 - (100% / 2 - 8px + 16px));--ml-tablet:calc((100% / 2 - 8px + 16px) * 0.5 - (100% / 2 - 8px + 16px));--ml-mobile:calc((100% / 2 - 0.5px + 1px) * 0.5 - (100% / 2 - 0.5px + 1px))"
      class="gem-slider-item w-full gem-slider-item- gqc2JQ3OPC"
    >
      <div
    
    role="presentation"
    class="group/image gt7vh62wpR"
    style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "499742552031757542-783a08ab-cddd-4829-8912-467dc4ebfaec.png" | file_url }}" data-srcset="{{ '499742552031757542-783a08ab-cddd-4829-8912-467dc4ebfaec.png' | file_img_url: '768x768' }} 768w, {{ '499742552031757542-783a08ab-cddd-4829-8912-467dc4ebfaec.png' | file_img_url: '1024x1024' }} 1024w, {{ '499742552031757542-783a08ab-cddd-4829-8912-467dc4ebfaec.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1080" height="1080" alt="Familidoo Stroller Review from hastouderopvang_otje" priority base-src
    sizes="100vw"
    style="--aspect:1080/1080;--aspect-tablet:1080/1080;--aspect-mobile:1080/1080;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      tag="CarouselItem" label="Carousel Item" type="component"
      style="--bgc:transparent;--minw:calc(100% / 2 - 8px);--minw-tablet:calc(100% / 2 - 8px);--minw-mobile:calc(100% / 2 - 0.5px);--maxw:calc(100% / 2 - 8px);--maxw-tablet:calc(100% / 2 - 8px);--maxw-mobile:calc(100% / 2 - 0.5px);--b:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item w-full gem-slider-item- gr6Nx1l-sU"
    >
      <div
    
    role="presentation"
    class="group/image g3OdzVaW43"
    style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "499742552031757542-fe95b621-0685-4763-93f9-fd79cbd0bb22.png" | file_url }}" data-srcset="{{ '499742552031757542-fe95b621-0685-4763-93f9-fd79cbd0bb22.png' | file_img_url: '768x768' }} 768w, {{ '499742552031757542-fe95b621-0685-4763-93f9-fd79cbd0bb22.png' | file_img_url: '1024x1024' }} 1024w, {{ '499742552031757542-fe95b621-0685-4763-93f9-fd79cbd0bb22.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1080" height="1080" alt="Customer Review from ozofijn" priority base-src
    sizes="100vw"
    style="--aspect:1080/1080;--aspect-tablet:1080/1080;--aspect-mobile:1080/1080;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      tag="CarouselItem" label="Carousel Item" type="component"
      style="--bgc:transparent;--minw:calc(100% / 2 - 8px);--minw-tablet:calc(100% / 2 - 8px);--minw-mobile:calc(100% / 2 - 0.5px);--maxw:calc(100% / 2 - 8px);--maxw-tablet:calc(100% / 2 - 8px);--maxw-mobile:calc(100% / 2 - 0.5px);--b:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item w-full gem-slider-item- gnKBIaNw2a"
    >
      <div
    
    role="presentation"
    class="group/image gP5SbgFSdg"
    style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "499742552031757542-94a22730-fecd-4d9a-b61f-0cca25bb3b1e.png" | file_url }}" data-srcset="{{ '499742552031757542-94a22730-fecd-4d9a-b61f-0cca25bb3b1e.png' | file_img_url: '768x768' }} 768w, {{ '499742552031757542-94a22730-fecd-4d9a-b61f-0cca25bb3b1e.png' | file_img_url: '1024x1024' }} 1024w, {{ '499742552031757542-94a22730-fecd-4d9a-b61f-0cca25bb3b1e.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1080" height="1080" alt="Familidoo Stroller Review from anne_assmat" priority base-src
    sizes="100vw"
    style="--aspect:1080/1080;--aspect-tablet:1080/1080;--aspect-mobile:1080/1080;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      tag="CarouselItem" label="Carousel Item" type="component"
      style="--bgc:transparent;--minw:calc(100% / 2 - 8px);--minw-tablet:calc(100% / 2 - 8px);--minw-mobile:calc(100% / 2 - 0.5px);--maxw:calc(100% / 2 - 8px);--maxw-tablet:calc(100% / 2 - 8px);--maxw-mobile:calc(100% / 2 - 0.5px);--b:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item w-full gem-slider-item- gLr5LEi2uQ"
    >
      <div
    
    role="presentation"
    class="group/image gHiBKvi0me"
    style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "499742552031757542-7e155243-e526-43a1-8e25-89787bfe1dbe.png" | file_url }}" data-srcset="{{ '499742552031757542-7e155243-e526-43a1-8e25-89787bfe1dbe.png' | file_img_url: '768x768' }} 768w, {{ '499742552031757542-7e155243-e526-43a1-8e25-89787bfe1dbe.png' | file_img_url: '1024x1024' }} 1024w, {{ '499742552031757542-7e155243-e526-43a1-8e25-89787bfe1dbe.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1080" height="1080" alt="6 Seat Stroller Review from kleinerhafen" priority base-src
    sizes="100vw"
    style="--aspect:1080/1080;--aspect-tablet:1080/1080;--aspect-mobile:1080/1080;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      tag="CarouselItem" label="Carousel Item" type="component"
      style="--bgc:transparent;--minw:calc(100% / 2 - 8px);--minw-tablet:calc(100% / 2 - 8px);--minw-mobile:calc(100% / 2 - 0.5px);--maxw:calc(100% / 2 - 8px);--maxw-tablet:calc(100% / 2 - 8px);--maxw-mobile:calc(100% / 2 - 0.5px);--b:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item w-full gem-slider-item- gC2whiwNv7"
    >
      <div
    
    role="presentation"
    class="group/image g7CNTa0cKf"
    style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "499742552031757542-0a1f58fd-d745-45ac-ae0a-30a9c25b063e.png" | file_url }}" data-srcset="{{ '499742552031757542-0a1f58fd-d745-45ac-ae0a-30a9c25b063e.png' | file_img_url: '768x768' }} 768w, {{ '499742552031757542-0a1f58fd-d745-45ac-ae0a-30a9c25b063e.png' | file_img_url: '1024x1024' }} 1024w, {{ '499742552031757542-0a1f58fd-d745-45ac-ae0a-30a9c25b063e.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1080" height="1080" alt="Stroller Review from edelweisschildcare" priority base-src
    sizes="100vw"
    style="--aspect:1080/1080;--aspect-tablet:1080/1080;--aspect-mobile:1080/1080;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div>
  
          </div>
          
    <button
      type="button"
      class="gp-carousel-action-next gem-slider-next gHAI5earQg-{{section.id}} gp-carousel-arrow-gHAI5earQg items-center justify-center overflow-hidden shrink-0  cursor-pointer text-gray-500 !absolute z-2 tablet:!absolute tablet:z-2 mobile:!absolute mobile:z-2"
      style="--left:initial;--top:;--right:16px;--bottom:initial;--left-tablet:initial;--top-tablet:;--right-tablet:16px;--bottom-tablet:initial;--left-mobile:initial;--top-mobile:;--right-mobile:16px;--bottom-mobile:initial;--d:flex;--d-tablet:flex;--d-mobile:flex;background-color:transparent;--w:32px;--h:32px"
      onClick={onClick}
      
    >
      <div 
  class="flex items-center justify-center [&>svg]:h-full [&>svg]:w-full rotate-0 tablet:rotate-0 mobile:rotate-0"
  style="--c:#000000;--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
  >
    <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z"/>
              </svg>
              
    </div>
      <style>
    .gp-carousel-arrow-gHAI5earQg {
      border-radius: var(--g-radius-small);
    }
    .gp-carousel-arrow-gHAI5earQg::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      .gp-carousel-arrow-gHAI5earQg {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gHAI5earQg::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
    @media only screen and (max-width: 768px) {
      .gp-carousel-arrow-gHAI5earQg {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gHAI5earQg::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
  </style>
    </button>
  
        </div>
        <div
    class="items-center justify-center gap-2 text-center gp-carousel-dot-container gp-carousel-dot-container-gHAI5earQg-{{section.id}} flex absolute flex-row w-full tablet:flex tablet:absolute tablet:flex-row tablet:w-full mobile:flex mobile:absolute mobile:flex-row mobile:w-full"
    style="--bottom:16px;--bottom-tablet:16px;--bottom-mobile:16px"
 ></div>
      </div>
    </gp-carousel>
  
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-506353758632936554 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/familidoo/apps/bold/app/shopify/edit?pageType=GP_INDEX&editorId=502887154884543432&sectionId=506353758632936554)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
