
  
  
      <style>
        @import url('https://fonts.googleapis.com/css?family=Open+Sans:700,400,600&display=swap');
      </style>
    
  <style>
    .gps-503614960211854215 .focus\:\!shadow-none,.gps-503614960211854215 .hover\:\!shadow-none{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-503614960211854215 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-503614960211854215 .invisible{visibility:hidden}.gps-503614960211854215 .fixed{position:fixed}.gps-503614960211854215 .absolute{position:absolute}.gps-503614960211854215 .relative{position:relative}.gps-503614960211854215 .top-\[27px\]{top:27px}.gps-503614960211854215 .z-1{z-index:1}.gps-503614960211854215 .z-100{z-index:100}.gps-503614960211854215 .mx-auto{margin-left:auto;margin-right:auto}.gps-503614960211854215 .mb-0{margin-bottom:0}.gps-503614960211854215 .flex{display:flex}.gps-503614960211854215 .inline-flex{display:inline-flex}.gps-503614960211854215 .grid{display:grid}.gps-503614960211854215 .hidden{display:none}.gps-503614960211854215 .\!h-auto{height:auto!important}.gps-503614960211854215 .h-5{height:20px}.gps-503614960211854215 .h-full{height:100%}.gps-503614960211854215 .min-h-\[150px\]{min-height:150px}.gps-503614960211854215 .w-5{width:20px}.gps-503614960211854215 .max-w-full{max-width:100%}.gps-503614960211854215 .shrink-0{flex-shrink:0}@keyframes spin{to{transform:rotate(1turn)}}.gps-503614960211854215 .animate-spin{animation:spin 1s linear infinite}.gps-503614960211854215 .flex-col{flex-direction:column}.gps-503614960211854215 .items-center{align-items:center}.gps-503614960211854215 .justify-center{justify-content:center}.gps-503614960211854215 .gap-y-0{row-gap:0}.gps-503614960211854215 .overflow-hidden{overflow:hidden}.gps-503614960211854215 .break-words{overflow-wrap:break-word}.gps-503614960211854215 .rounded{border-radius:4px}.gps-503614960211854215 .rounded-none{border-radius:0}.gps-503614960211854215 .\!bg-none{background-image:none!important}.gps-503614960211854215 .p-\[16px\]{padding:16px}.gps-503614960211854215 .text-\[14px\]{font-size:14px}.gps-503614960211854215 .leading-normal{line-height:1.5}.gps-503614960211854215 .text-g-text-1{color:var(--g-c-text-1)}.gps-503614960211854215 .text-g-text-3{color:var(--g-c-text-3)}.gps-503614960211854215 .no-underline{text-decoration-line:none}.gps-503614960211854215 .opacity-25{opacity:.25}.gps-503614960211854215 .opacity-75{opacity:.75}.gps-503614960211854215 .\!outline-none{outline:2px solid transparent!important;outline-offset:2px!important}.gps-503614960211854215 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-503614960211854215 .duration-200{transition-duration:.2s}.gps-503614960211854215 .duration-300{transition-duration:.3s}.gps-503614960211854215 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-503614960211854215 .disabled\:btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-503614960211854215 .hover\:\!shadow-none:hover{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}}.gps-503614960211854215 .focus\:\!shadow-none:focus{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}.gps-503614960211854215 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-503614960211854215 .disabled\:opacity-30:disabled{opacity:.3}.gps-503614960211854215 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-503614960211854215 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}.gps-503614960211854215 .\[\&\>svg\]\:\!h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-503614960211854215 .\[\&\>svg\]\:\!w-auto>svg{width:auto!important}@media (max-width:1023px){.gps-503614960211854215 .tablet\:\[\&\>svg\]\:\!h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-503614960211854215 .mobile\:\[\&\>svg\]\:\!h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-503614960211854215 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-503614960211854215 .\[\&_p\]\:inline p{display:inline}.gps-503614960211854215 .\[\&_p\]\:whitespace-pre-line p{white-space:pre-line}.gps-503614960211854215 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-503614960211854215 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gDxdUTmmTL"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-3xl);--pl:15px;--pb:var(--g-s-3xl);--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gDxdUTmmTL mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gGESUG8Ai- relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gx8LFYbZ2d"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:32px;--pl:100px;--pb:var(--g-s-2xl);--pr:100px;--pt-tablet:var(--g-s-2xl);--pl-tablet:auto;--pb-tablet:var(--g-s-2xl);--pr-tablet:auto;--cg:30px;--pc:start;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-tablet:minmax(0, 7fr) minmax(0, 5fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gx8LFYbZ2d mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:end"
      class="gRhWa7Rzqd relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gysDiLaVKz "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-m)"
      >
      <div class="flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans');--weight:700;--ls:normal;--lh:130%;--size:23px;--size-tablet:23px;--size-mobile:20px;--c:#EE6A77;--tt:none;word-break:break-word;overflow:hidden"
        >
        <p>We're happy to help!</p>
        </h2>
      </div>
    </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:var(--g-s-3xl);--pl-tablet:0px;--pr-tablet:0px" class="g2kOgQdGUV ">
      
    
    <gp-form 
      id="g2kOgQdGUV"
      style=""
      data-submit-action='stay-on-page'
      data-callback='{"link":"","target":"_self"}'
    >
      <a
        hidden
        id="gp-form-callback-g2kOgQdGUV"
        href="" target="_self"
      >
      </a>
      {% form 'contact', class: 'gp-form-g2kOgQdGUV ' %}
        {% if form.errors %}
          <div
            id="gp-form-error-g2kOgQdGUV"
            class="gp-form-message hidden top-[27px] z-100 fixed rounded p-[16px] text-[14px] leading-normal"
            style="background-color:#FFE9E9;left:50%;transform:translateX(-50%);color:#EA3335"
          >
            Can’t send email. Please try again later.
          </div>
        {% endif %}
        <div
          id="gp-form-success-g2kOgQdGUV"
          class="gp-form-message hidden top-[27px] z-100 fixed rounded p-[16px] text-[14px] leading-normal"
          style="background-color:#F2FFEC;left:50%;transform:translateX(-50%);color:#52C41A"
        >
          Thanks for contacting us. We'll get back to you as soon as possible.
        </div>
        
    <div
      
      class=""
      style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--mb-mobile:var(--g-s-2xl)"
    >
      <input
        type="text"
        class="gp-form-item gY0A77b3Ru text-g-text-1 !outline-none !h-auto focus:!shadow-none hover:!shadow-none !bg-none"
        style="--c:var(--g-c-text-1, text-1);--pl:16px;--pr:16px;--pt:12px;--pb:12px;--pl-mobile:21px;--pr-mobile:21px;--pt-mobile:14.5px;--pb-mobile:14.5px;--tt:default;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans');--weight:400;--ls:normal;--lh:150%;--size:13px;--size-tablet:13px;--size-mobile:14px;--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#E0E0E0;--b:solid;--bw:1px 1px 1px 1px;--radius:var(--g-radius-none);--shadow:none"
        placeholder="* Your Name"
        {% if true %}
        required
        {% endif %}
        name="contact[name]"
        value=""
      ></input>
    </div>
  
    <div
      class="gY1_jKun-X"
      style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--mb-mobile:var(--g-s-2xl);--ta:left"
    >
      <input
        type="email"
        class="gp-form-item !outline-none !h-auto focus:!shadow-none hover:!shadow-none !bg-none"
        style="--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans');--weight:400;--ls:normal;--lh:150%;--size:13px;--size-tablet:13px;--size-mobile:14px;--pl:16px;--pr:16px;--pt:12px;--pb:12px;--pl-mobile:21px;--pr-mobile:21px;--pt-mobile:14.5px;--pb-mobile:14.5px;--w:100%;--w-tablet:100%;--w-mobile:100%;--b:solid;--bc:#E0E0E0;--bw:1px 1px 1px 1px;--radius:var(--g-radius-none);--shadow:none"
        placeholder="Email"
        {% if true %}
        required
        {% endif %}
        name="contact[email]"
        value=""
        autocomplete="email"
      ></input>
    </div>
  
    <div
      
      class=""
      style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl)"
    >
      <textarea
        class="gp-form-item g-5o6dNlLb text-g-text-1 !outline-none !h-auto focus:!shadow-none hover:!shadow-none !bg-none min-h-[150px]"
        style="--c:var(--g-c-text-1, text-1);--pl:16px;--pr:16px;--pt:12px;--pb:12px;--pl-mobile:21px;--pr-mobile:21px;--pt-mobile:14.5px;--pb-mobile:14.5px;--tt:default;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans');--weight:400;--ls:normal;--lh:150%;--size:13px;--size-tablet:13px;--size-mobile:14px;--b:solid;--bc:#E0E0E0;--bw:1px 1px 1px 1px;--radius:var(--g-radius-none);--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%"
        placeholder="Message"
        {% if true %}
        required
        {% endif %}
        name="contact[note]"
        value=""
      ></textarea>
    </div>
  
    
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-button.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-button gp-data='{"setting":{"label":"Submit","htmlType":"submit","iconAlign":"left","iconSvg":"<svg style=\"width: 100%; height: 100%\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 512 512\" fill=\"currentColor\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M476 3.2L12.5 270.6c-18.1 10.4-15.8 35.6 2.2 43.2L121 358.4l287.3-253.2c5.5-4.9 13.3 2.6 8.6 8.3L176 407v80.5c0 23.6 28.5 32.9 42.5 15.8L282 426l124.6 52.2c14.2 6 30.4-2.9 33-18.2l72-432C515 7.8 493.3-6.8 476 3.2z\" />\n            </svg>\n          ","iconVisible":false,"btnLink":{}}}' style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left;--ta-mobile:center"
    class=""
  >
    <style>
    .g5TEsHTEEz.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: var(--g-c-line-2, line-2);
  
      
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
    }

    .g5TEsHTEEz:hover::before {
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: var(--g-c-line-3, line-3);
  
      
    }
  </style>
    <button
      type="submit" data-id="g5TEsHTEEz" aria-label="Submit"
      data-state="idle"
      class="g5TEsHTEEz gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none text-g-text-3"
      style="--hvr-bg:#424242;--bg:#EE6A77;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--shadow:none;--c:var(--g-c-text-3, text-3);--pl:48px;--pr:48px;--pt:12px;--pb:12px;--pl-tablet:48px;--pr-tablet:48px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:28px;--pr-mobile:28px;--pt-mobile:10.5px;--pb-mobile:10.5px;--w:auto;--w-tablet:auto;--w-mobile:auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--tt:default;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans');--weight:600;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        Submit
      </span>
    </button>
  </div>
  </gp-button>
  
  
      {% endform %}
    </gp-form>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-form.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
  
      </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:end"
      class="gnH_5fVHhy relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g4QkJujuAT"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pl:var(--g-s-2xl);--pl-mobile:auto;--pl-tablet:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g4QkJujuAT mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gCDi1HNmQ6 relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gGe0Sqhc2L "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)"
      >
      <div class="flex" style="--jc:left">
        <h3
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans');--weight:600;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:16px;--c:#EE6A77;word-break:break-word;overflow:hidden"
        >
        <p>FAQs</p>
        </h3>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gDJ784d0Bc "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#EE6A77;word-break:break-word;overflow:hidden"
        >
        <p>Have a quick question?<br>Check our <a href="#"><u>FAQs</u></a> for a quick answer</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gZLXm134nf "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)"
      >
      <div class="flex" style="--jc:left">
        <h3
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans');--weight:600;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:16px;--c:#EE6A77;word-break:break-word;overflow:hidden"
        >
        <p>Email us</p>
        </h3>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gKNnspDbd4 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#EE6A77;word-break:break-word;overflow:hidden"
        >
        <p><a href="#"><u>info@familidooglobal.com</u></a></p>
        </div>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="gfM_eQCqdh"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gfM_eQCqdh mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g4qNCIPqRD relative flex flex-col"
    >
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-button.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-button gp-data='{"setting":{"btnLink":{"link":"https://www.youtube.com/@familidoo","target":"_self"},"disabled":false,"htmlType":"button","iconAlign":"left","iconSvg":"<svg height=\"20\" width=\"20\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"493334324567408989\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M234.33,69.52a24,24,0,0,0-14.49-16.4C185.56,39.88,131,40,128,40s-57.56-.12-91.84,13.12a24,24,0,0,0-14.49,16.4C19.08,79.5,16,97.74,16,128s3.08,48.5,5.67,58.48a24,24,0,0,0,14.49,16.41C69,215.56,120.4,216,127.34,216h1.32c6.94,0,58.37-.44,91.18-13.11a24,24,0,0,0,14.49-16.41c2.59-10,5.67-28.22,5.67-58.48S236.92,79.5,234.33,69.52Zm-72.11,61.81-48,32A4,4,0,0,1,108,160V96a4,4,0,0,1,6.22-3.33l48,32a4,4,0,0,1,0,6.66Z\" /></svg>","iconVisible":true,"label":"","shouldClearSpace":"true"}}' style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    class=""
  >
    <style>
    .gj-zRITG53.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #EEEEEE;
  
      
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
    }

    .gj-zRITG53:hover::before {
      
      
    }
  </style>
    <a
      href="https://www.youtube.com/@familidoo" target="_self" data-id="gj-zRITG53" aria-label
      data-state="idle"
      class="gj-zRITG53 gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none g-paragraph-1"
      style="--hvr-bg:#FFFFFF;--bg:#FFFFFF;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--shadow:none;--c:#242424;--pl:14px;--pr:14px;--pt:13px;--pb:13px;--pl-tablet:14px;--pr-tablet:14px;--pt-tablet:13px;--pb-tablet:13px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:13px;--pb-mobile:13px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--tt:default"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    <span
        class="inline-flex shrink-0 items-center justify-center group-data-[state=loading]:invisible z-1 [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
        style="--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334324567408989">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M234.33,69.52a24,24,0,0,0-14.49-16.4C185.56,39.88,131,40,128,40s-57.56-.12-91.84,13.12a24,24,0,0,0-14.49,16.4C19.08,79.5,16,97.74,16,128s3.08,48.5,5.67,58.48a24,24,0,0,0,14.49,16.41C69,215.56,120.4,216,127.34,216h1.32c6.94,0,58.37-.44,91.18-13.11a24,24,0,0,0,14.49-16.41c2.59-10,5.67-28.22,5.67-58.48S236.92,79.5,234.33,69.52Zm-72.11,61.81-48,32A4,4,0,0,1,108,160V96a4,4,0,0,1,6.22-3.33l48,32a4,4,0,0,1,0,6.66Z" /></svg></span>
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        
      </span>
    </a>
  </div>
  </gp-button>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g8n15ham-y relative flex flex-col"
    >
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-button.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-button gp-data='{"setting":{"btnLink":{"link":"https://www.instagram.com/familidoo/","target":"_self"},"disabled":false,"htmlType":"button","iconAlign":"left","iconSvg":"<svg width=\"18\" height=\"18\" viewBox=\"0 0 18 18\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"> <path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M1.125 5.625C1.125 3.13972 3.13972 1.125 5.625 1.125H12.375C14.8603 1.125 16.875 3.13972 16.875 5.625V12.375C16.875 14.8603 14.8603 16.875 12.375 16.875H5.625C3.13972 16.875 1.125 14.8603 1.125 12.375V5.625ZM9 6.1875C8.44374 6.1875 7.89997 6.35245 7.43746 6.66149C6.97495 6.97053 6.61446 7.40979 6.40159 7.9237C6.18872 8.43762 6.13302 9.00312 6.24154 9.54869C6.35006 10.0943 6.61793 10.5954 7.01126 10.9887C7.4046 11.3821 7.90574 11.6499 8.45131 11.7585C8.99688 11.867 9.56238 11.8113 10.0763 11.5984C10.5902 11.3855 11.0295 11.0251 11.3385 10.5625C11.6475 10.1 11.8125 9.55626 11.8125 9C11.8125 8.25428 11.5163 7.53908 10.9891 7.01166C10.4619 6.48425 9.74686 6.1878 9.00114 6.1875H9ZM12.75 4.0797C12.8887 3.98699 13.0519 3.9375 13.2188 3.9375C13.4425 3.93759 13.6573 4.02653 13.8155 4.18475C13.9737 4.34297 14.0625 4.55753 14.0625 4.78125C14.0625 4.94813 14.013 5.11126 13.9203 5.25001C13.8276 5.38877 13.6958 5.49691 13.5416 5.56077C13.3875 5.62463 13.2178 5.64134 13.0541 5.60879C12.8905 5.57623 12.7401 5.49587 12.6221 5.37787C12.5041 5.25987 12.4238 5.10953 12.3912 4.94586C12.3587 4.78219 12.3754 4.61254 12.4392 4.45836C12.5031 4.30419 12.6112 4.17241 12.75 4.0797Z\" fill=\"#242424\"/> </svg>","iconVisible":true,"label":"","shouldClearSpace":"true"}}' style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    class=""
  >
    <style>
    .gO9G4aXCTP.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #EEEEEE;
  
      
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
    }

    .gO9G4aXCTP:hover::before {
      
      
    }
  </style>
    <a
      href="https://www.instagram.com/familidoo/" target="_self" data-id="gO9G4aXCTP" aria-label
      data-state="idle"
      class="gO9G4aXCTP gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none g-paragraph-1"
      style="--hvr-bg:#FFFFFF;--bg:#FFFFFF;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--shadow:none;--c:#242424;--pl:14px;--pr:14px;--pt:13px;--pb:13px;--pl-tablet:14px;--pr-tablet:14px;--pt-tablet:13px;--pb-tablet:13px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:13px;--pb-mobile:13px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--tt:default"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    <span
        class="inline-flex shrink-0 items-center justify-center group-data-[state=loading]:invisible z-1 [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
        style="--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M1.125 5.625C1.125 3.13972 3.13972 1.125 5.625 1.125H12.375C14.8603 1.125 16.875 3.13972 16.875 5.625V12.375C16.875 14.8603 14.8603 16.875 12.375 16.875H5.625C3.13972 16.875 1.125 14.8603 1.125 12.375V5.625ZM9 6.1875C8.44374 6.1875 7.89997 6.35245 7.43746 6.66149C6.97495 6.97053 6.61446 7.40979 6.40159 7.9237C6.18872 8.43762 6.13302 9.00312 6.24154 9.54869C6.35006 10.0943 6.61793 10.5954 7.01126 10.9887C7.4046 11.3821 7.90574 11.6499 8.45131 11.7585C8.99688 11.867 9.56238 11.8113 10.0763 11.5984C10.5902 11.3855 11.0295 11.0251 11.3385 10.5625C11.6475 10.1 11.8125 9.55626 11.8125 9C11.8125 8.25428 11.5163 7.53908 10.9891 7.01166C10.4619 6.48425 9.74686 6.1878 9.00114 6.1875H9ZM12.75 4.0797C12.8887 3.98699 13.0519 3.9375 13.2188 3.9375C13.4425 3.93759 13.6573 4.02653 13.8155 4.18475C13.9737 4.34297 14.0625 4.55753 14.0625 4.78125C14.0625 4.94813 14.013 5.11126 13.9203 5.25001C13.8276 5.38877 13.6958 5.49691 13.5416 5.56077C13.3875 5.62463 13.2178 5.64134 13.0541 5.60879C12.8905 5.57623 12.7401 5.49587 12.6221 5.37787C12.5041 5.25987 12.4238 5.10953 12.3912 4.94586C12.3587 4.78219 12.3754 4.61254 12.4392 4.45836C12.5031 4.30419 12.6112 4.17241 12.75 4.0797Z" fill="#242424"/> </svg></span>
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        
      </span>
    </a>
  </div>
  </gp-button>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gV6uq76opJ relative flex flex-col"
    >
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-button.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-button gp-data='{"setting":{"btnLink":{"link":"https://www.facebook.com/FamilidooGlobal/","target":"_self"},"disabled":false,"htmlType":"button","iconAlign":"left","iconSvg":"<svg width=\"18\" height=\"18\" viewBox=\"0 0 18 18\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"> <path d=\"M10.0162 16.5V9.65774H12.3127L12.6569 6.99149H10.0169V5.28899C10.0169 4.51649 10.2307 3.99074 11.3377 3.99074L12.7499 3.98999V1.60499C12.0666 1.53267 11.3798 1.49762 10.6927 1.49999C8.65645 1.49999 7.26295 2.74274 7.26295 5.02499V6.99149H4.96045V9.65774H7.26295V16.5H10.0162Z\" fill=\"#242424\"/> </svg>","iconVisible":true,"label":"","shouldClearSpace":"true"}}' style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:left"
    class=""
  >
    <style>
    .gRDVBBgvWM.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #EEEEEE;
  
      
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
    }

    .gRDVBBgvWM:hover::before {
      
      
    }
  </style>
    <a
      href="https://www.facebook.com/FamilidooGlobal/" target="_self" data-id="gRDVBBgvWM" aria-label
      data-state="idle"
      class="gRDVBBgvWM gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none g-paragraph-1"
      style="--hvr-bg:#FFFFFF;--bg:#FFFFFF;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--shadow:none;--c:#242424;--pl:14px;--pr:14px;--pt:13px;--pb:13px;--pl-tablet:14px;--pr-tablet:14px;--pt-tablet:13px;--pb-tablet:13px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:13px;--pb-mobile:13px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--tt:default"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    <span
        class="inline-flex shrink-0 items-center justify-center group-data-[state=loading]:invisible z-1 [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
        style="--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M10.0162 16.5V9.65774H12.3127L12.6569 6.99149H10.0169V5.28899C10.0169 4.51649 10.2307 3.99074 11.3377 3.99074L12.7499 3.98999V1.60499C12.0666 1.53267 11.3798 1.49762 10.6927 1.49999C8.65645 1.49999 7.26295 2.74274 7.26295 5.02499V6.99149H4.96045V9.65774H7.26295V16.5H10.0162Z" fill="#242424"/> </svg></span>
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        
      </span>
    </a>
  </div>
  </gp-button>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gw62ZwEUCV relative flex flex-col"
    >
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-button.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-button gp-data='{"setting":{"btnLink":{"link":"https://www.tiktok.com/@familidooglobal","target":"_self"},"disabled":false,"htmlType":"button","iconAlign":"left","iconSvg":"<svg height=\"20\" width=\"20\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"493334324483195229\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M232,80v40a8,8,0,0,1-8,8,103.25,103.25,0,0,1-48-11.71V156a76,76,0,0,1-152,0c0-36.9,26.91-69.52,62.6-75.88A8,8,0,0,1,96,88v42.69a8,8,0,0,1-4.57,7.23A20,20,0,1,0,120,156V24a8,8,0,0,1,8-8h40a8,8,0,0,1,8,8,48.05,48.05,0,0,0,48,48A8,8,0,0,1,232,80Z\" /></svg>","iconVisible":true,"label":"","shouldClearSpace":"true"}}' style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    class=""
  >
    <style>
    .gJcEtyneR5.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #EEEEEE;
  
      
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
    }

    .gJcEtyneR5:hover::before {
      
      
    }
  </style>
    <a
      href="https://www.tiktok.com/@familidooglobal" target="_self" data-id="gJcEtyneR5" aria-label
      data-state="idle"
      class="gJcEtyneR5 gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none g-paragraph-1"
      style="--hvr-bg:#FFFFFF;--bg:#FFFFFF;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--shadow:none;--c:#242424;--pl:14px;--pr:14px;--pt:13px;--pb:13px;--pl-tablet:14px;--pr-tablet:14px;--pt-tablet:13px;--pb-tablet:13px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:13px;--pb-mobile:13px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--tt:default"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    <span
        class="inline-flex shrink-0 items-center justify-center group-data-[state=loading]:invisible z-1 [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
        style="--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334324483195229">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M232,80v40a8,8,0,0,1-8,8,103.25,103.25,0,0,1-48-11.71V156a76,76,0,0,1-152,0c0-36.9,26.91-69.52,62.6-75.88A8,8,0,0,1,96,88v42.69a8,8,0,0,1-4.57,7.23A20,20,0,1,0,120,156V24a8,8,0,0,1,8-8h40a8,8,0,0,1,8,8,48.05,48.05,0,0,0,48,48A8,8,0,0,1,232,80Z" /></svg></span>
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        
      </span>
    </a>
  </div>
  </gp-button>
  
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-503614960211854215 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/familidoo/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=503614957376504711&sectionId=503614960211854215)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
