
  
  
      <style>
        @font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwARZtRSW3w&skey=cd068b3e1b767e51&v=v14) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwARZtRR23wRmYJp8I5zzw&skey=cd068b3e1b767e51&v=v14) format('woff');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwARZtRSW3wRmYJp8I5&skey=cd068b3e1b767e51&v=v14) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

      </style>
    
  <style>
    .gps-505937819605206122 .pointer-events-auto{pointer-events:auto}.gps-505937819605206122 .relative{position:relative}.gps-505937819605206122 .mx-auto{margin-left:auto;margin-right:auto}.gps-505937819605206122 .mb-0{margin-bottom:0}.gps-505937819605206122 .\!inline{display:inline!important}.gps-505937819605206122 .flex{display:flex}.gps-505937819605206122 .grid{display:grid}.gps-505937819605206122 .h-full{height:100%}.gps-505937819605206122 .w-full{width:100%}.gps-505937819605206122 .max-w-full{max-width:100%}.gps-505937819605206122 .flex-col{flex-direction:column}.gps-505937819605206122 .gap-y-0{row-gap:0}.gps-505937819605206122 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-505937819605206122 .duration-200{transition-duration:.2s}.gps-505937819605206122 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-505937819605206122 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-505937819605206122 .\[\&_p\]\:inline p{display:inline}.gps-505937819605206122 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-505937819605206122 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g_HK8jHXfI"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(undefined);--pl:15px;--pb:var(--g-s-5xl);--pr:15px;--pt-mobile:var(undefined);--pl-mobile:15px;--pb-mobile:40px;--pr-mobile:15px;--pt-tablet:var(undefined);--pl-tablet:15px;--pb-tablet:var(--g-s-5xl);--pr-tablet:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FDFCF9;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g_HK8jHXfI mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g7QeivtzwH relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gqpIUyaDvG"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gqpIUyaDvG mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gVk8Aqf1EB relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gkyLnpBv8Z"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:var(--g-s-xl);--mb:var(--g-s-xl);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "499742552031757542-31cf3877-8761-4c84-afab-9982688c067c.png" | file_url }}" data-srcset="{{ '499742552031757542-31cf3877-8761-4c84-afab-9982688c067c.png' | file_img_url: '768x768' }} 768w, {{ '499742552031757542-31cf3877-8761-4c84-afab-9982688c067c.png' | file_img_url: '1024x1024' }} 1024w, {{ '499742552031757542-31cf3877-8761-4c84-afab-9982688c067c.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="512" height="512" alt="Alt Image" priority base-src
    sizes="100vw"
    style="--aspect:512/512;--aspect-tablet:512/512;--aspect-mobile:512/512;--objf:cover;--w:56px;--w-tablet:56px;--w-mobile:56px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    <div
      parentTag="Col"
        class="gqRwpU5ZI7 "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-DM-Sans, 'DM Sans');--weight:700;--ls:normal;--lh:150%;--size:19px;--size-tablet:19px;--size-mobile:17px;--tt:capitalize;word-break:break-word;overflow:hidden"
        >
        <p>quality guarantee&nbsp;</p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gkGRlU4jiC relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gwTPnnOzv-"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:var(--g-s-xl);--mb:var(--g-s-xl);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "499742552031757542-73bb4aa9-2449-46ac-b1ca-6a1efcc121aa.png" | asset_url }}" data-srcset="{{ '499742552031757542-73bb4aa9-2449-46ac-b1ca-6a1efcc121aa.png' | asset_img_url: '768x768' }} 768w, {{ '499742552031757542-73bb4aa9-2449-46ac-b1ca-6a1efcc121aa.png' | asset_img_url: '1024x1024' }} 1024w, {{ '499742552031757542-73bb4aa9-2449-46ac-b1ca-6a1efcc121aa.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" alt="Alt Image" priority base-src
    sizes="100vw"
    style="--aspect:null/null;--aspect-tablet:null/null;--aspect-mobile:null/null;--objf:cover;--w:56px;--w-tablet:56px;--w-mobile:56px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    <div
      parentTag="Col"
        class="g-im0gPCsu "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-DM-Sans, 'DM Sans');--weight:700;--ls:normal;--lh:150%;--size:19px;--size-tablet:19px;--size-mobile:17px;--tt:capitalize;word-break:break-word;overflow:hidden"
        >
        <p>100% money-back guarantee</p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gC4ek-qQVG relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gFUNIP5SSJ"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:var(--g-s-xl);--mb:var(--g-s-xl);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "499742552031757542-458aa90c-d282-45b6-b81d-06001426d9f6.png" | file_url }}" data-srcset="{{ '499742552031757542-458aa90c-d282-45b6-b81d-06001426d9f6.png' | file_img_url: '768x768' }} 768w, {{ '499742552031757542-458aa90c-d282-45b6-b81d-06001426d9f6.png' | file_img_url: '1024x1024' }} 1024w, {{ '499742552031757542-458aa90c-d282-45b6-b81d-06001426d9f6.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="512" height="512" alt="Alt Image" priority base-src
    sizes="100vw"
    style="--aspect:512/512;--aspect-tablet:512/512;--aspect-mobile:512/512;--objf:cover;--w:56px;--w-tablet:56px;--w-mobile:56px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    <div
      parentTag="Col"
        class="gRklnvOuVE "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-DM-Sans, 'DM Sans');--weight:700;--ls:normal;--lh:150%;--size:19px;--size-tablet:19px;--size-mobile:17px;--tt:capitalize;word-break:break-word;overflow:hidden"
        >
        <p>trusted by 10k+ mothers</p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gSYO39Lid3 relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gQtcBkEDuW"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:var(--g-s-xl);--mb:var(--g-s-xl);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "499742552031757542-c3edb8d8-bad8-4d5c-bb84-a8593e2c3ec4.png" | file_url }}" data-srcset="{{ '499742552031757542-c3edb8d8-bad8-4d5c-bb84-a8593e2c3ec4.png' | file_img_url: '768x768' }} 768w, {{ '499742552031757542-c3edb8d8-bad8-4d5c-bb84-a8593e2c3ec4.png' | file_img_url: '1024x1024' }} 1024w, {{ '499742552031757542-c3edb8d8-bad8-4d5c-bb84-a8593e2c3ec4.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="100" height="100" alt="Alt Image" priority base-src
    sizes="100vw"
    style="--aspect:100/100;--aspect-tablet:100/100;--aspect-mobile:100/100;--objf:cover;--w:56px;--w-tablet:56px;--w-mobile:70px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    <div
      parentTag="Col"
        class="gAsfMKlEl_ "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-DM-Sans, 'DM Sans');--weight:700;--ls:normal;--lh:150%;--size:19px;--size-tablet:19px;--size-mobile:17px;--tt:capitalize;word-break:break-word;overflow:hidden"
        >
        <p>daycare tested &amp; trusted</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-505937819605206122 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/familidoo/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=505937778584847239&sectionId=505937819605206122)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
