
  
  
  <style>
    .gps-501896734167794656 .pointer-events-auto{pointer-events:auto}.gps-501896734167794656 .relative{position:relative}.gps-501896734167794656 .mx-auto{margin-left:auto;margin-right:auto}.gps-501896734167794656 .mb-0{margin-bottom:0}.gps-501896734167794656 .\!inline{display:inline!important}.gps-501896734167794656 .flex{display:flex}.gps-501896734167794656 .grid{display:grid}.gps-501896734167794656 .h-full{height:100%}.gps-501896734167794656 .w-full{width:100%}.gps-501896734167794656 .max-w-full{max-width:100%}.gps-501896734167794656 .flex-col{flex-direction:column}.gps-501896734167794656 .gap-y-0{row-gap:0}.gps-501896734167794656 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-501896734167794656 .duration-200{transition-duration:.2s}.gps-501896734167794656 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-501896734167794656 .\[\&_\*\]\:max-w-full *{max-width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gnLrRmue7-"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:72px;--pl:15px;--pb:72px;--pr:15px;--pt-mobile:2px;--pl-mobile:15px;--pb-mobile:63px;--pr-mobile:15px;--pt-tablet:63px;--pl-tablet:15px;--pb-tablet:63px;--pr-tablet:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gnLrRmue7- mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gg0Bphrvu8 relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="guSltK6DS5"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="guSltK6DS5 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gQ3Xe_z8rb relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image g6_LFuIdyi"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:0px;--mb-tablet:49px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title="6 Seat Familidoo"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "499742552031757542-5afcc1ce-c797-4db4-a1ef-14378f40c8ad.png" | asset_url }}" data-srcset="{{ '499742552031757542-5afcc1ce-c797-4db4-a1ef-14378f40c8ad.png' | asset_img_url: '768x768' }} 768w, {{ '499742552031757542-5afcc1ce-c797-4db4-a1ef-14378f40c8ad.png' | asset_img_url: '1024x1024' }} 1024w, {{ '499742552031757542-5afcc1ce-c797-4db4-a1ef-14378f40c8ad.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width height alt="6 Seat Stroller of Familidoo" priority base-src
    sizes="100vw"
    style="--aspect:0/0;--aspect-tablet:0/0;--aspect-mobile:0/0;--objf:cover;--w:1200px;--w-tablet:593px;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div><div
    
    role="presentation"
    class="group/image gDq73Kg-fk"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:0px;--mb-tablet:49px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title="Safety System"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "499742552031757542-3bb589df-3679-4640-a180-1103a2f99b45.png" | asset_url }}" data-srcset="{{ '499742552031757542-3bb589df-3679-4640-a180-1103a2f99b45.png' | asset_img_url: '768x768' }} 768w, {{ '499742552031757542-3bb589df-3679-4640-a180-1103a2f99b45.png' | asset_img_url: '1024x1024' }} 1024w, {{ '499742552031757542-3bb589df-3679-4640-a180-1103a2f99b45.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width height alt="6 Seat Familidoo Features" priority base-src
    sizes="100vw"
    style="--aspect:0/0;--aspect-tablet:0/0;--aspect-mobile:0/0;--objf:cover;--w:1200px;--w-tablet:593px;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div><div
    
    role="presentation"
    class="group/image g6VzD01MLh"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:0px;--mb-tablet:49px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title="Accessories"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "499742552031757542-f0ffcc98-a2ec-449a-b94e-a6d5538330e7.png" | asset_url }}" data-srcset="{{ '499742552031757542-f0ffcc98-a2ec-449a-b94e-a6d5538330e7.png' | asset_img_url: '768x768' }} 768w, {{ '499742552031757542-f0ffcc98-a2ec-449a-b94e-a6d5538330e7.png' | asset_img_url: '1024x1024' }} 1024w, {{ '499742552031757542-f0ffcc98-a2ec-449a-b94e-a6d5538330e7.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width height alt="6 Seat Familidoo Accessories" priority base-src
    sizes="100vw"
    style="--aspect:0/0;--aspect-tablet:0/0;--aspect-mobile:0/0;--objf:cover;--w:1200px;--w-tablet:593px;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div><div
    
    role="presentation"
    class="group/image gvGph4SlaQ"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:0px;--mb-tablet:49px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title="Stroller for Daycare Use"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "499742552031757542-8f171157-898e-4d9d-8188-e161b942a36c.png" | asset_url }}" data-srcset="{{ '499742552031757542-8f171157-898e-4d9d-8188-e161b942a36c.png' | asset_img_url: '768x768' }} 768w, {{ '499742552031757542-8f171157-898e-4d9d-8188-e161b942a36c.png' | asset_img_url: '1024x1024' }} 1024w, {{ '499742552031757542-8f171157-898e-4d9d-8188-e161b942a36c.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width height alt="Familidoo 6 Seat Stroller for Daycare" priority base-src
    sizes="100vw"
    style="--aspect:0/0;--aspect-tablet:0/0;--aspect-mobile:0/0;--objf:cover;--w:1200px;--w-tablet:593px;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-501896734167794656 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/familidoo/apps/bold/app/shopify/edit?pageType=GP_PRODUCT&editorId=501896733983245280&sectionId=501896734167794656)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
