
  
  
      <style>
        @import url('https://fonts.googleapis.com/css?family=Poppins:400,700,500,600|Jost:400,700,500&display=swap');
      </style>
    
  <style>
    .gps-505483104639517575 .-scale-100,.gps-505483104639517575 .before\:-rotate-45:before,.gps-505483104639517575 .mobile\:rotate-0,.gps-505483104639517575 .mobile\:rotate-180,.gps-505483104639517575 .rotate-0,.gps-505483104639517575 .rotate-180,.gps-505483104639517575 .tablet\:rotate-0,.gps-505483104639517575 .tablet\:rotate-180,.gps-505483104639517575 .transform{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-505483104639517575 .shadow-md,.gps-505483104639517575 .shadow-none{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-505483104639517575 .blur{--tw-blur: ;--tw-brightness: ;--tw-contrast: ;--tw-grayscale: ;--tw-hue-rotate: ;--tw-invert: ;--tw-saturate: ;--tw-sepia: ;--tw-drop-shadow: }.gps-505483104639517575 .btn-disabled{cursor:default}.gps-505483104639517575 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-505483104639517575 .sr-only{clip:rect(0,0,0,0);border-width:0;height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;white-space:nowrap;width:1px}.gps-505483104639517575 .pointer-events-none{pointer-events:none}.gps-505483104639517575 .pointer-events-auto{pointer-events:auto}.gps-505483104639517575 .visible{visibility:visible}.gps-505483104639517575 .invisible{visibility:hidden}.gps-505483104639517575 .static{position:static}.gps-505483104639517575 .fixed{position:fixed}.gps-505483104639517575 .\!absolute{position:absolute!important}.gps-505483104639517575 .absolute{position:absolute}.gps-505483104639517575 .relative{position:relative}.gps-505483104639517575 .inset-0{inset:0}.gps-505483104639517575 .bottom-0{bottom:0}.gps-505483104639517575 .left-0{left:0}.gps-505483104639517575 .right-0{right:0}.gps-505483104639517575 .top-0{top:0}.gps-505483104639517575 .z-1{z-index:1}.gps-505483104639517575 .z-2{z-index:2}.gps-505483104639517575 .z-\[90\]{z-index:90}.gps-505483104639517575 .\!m-0{margin:0!important}.gps-505483104639517575 .mx-auto{margin-left:auto;margin-right:auto}.gps-505483104639517575 .my-0{margin-bottom:0;margin-top:0}.gps-505483104639517575 .my-\[1px\]{margin-bottom:1px;margin-top:1px}.gps-505483104639517575 .\!ml-0{margin-left:0!important}.gps-505483104639517575 .mb-0{margin-bottom:0}.gps-505483104639517575 .mr-1{margin-right:4px}.gps-505483104639517575 .mt-2{margin-top:8px}.gps-505483104639517575 .block{display:block}.gps-505483104639517575 .inline-block{display:inline-block}.gps-505483104639517575 .\!inline{display:inline!important}.gps-505483104639517575 .flex{display:flex}.gps-505483104639517575 .inline-flex{display:inline-flex}.gps-505483104639517575 .grid{display:grid}.gps-505483104639517575 .contents{display:contents}.gps-505483104639517575 .\!hidden{display:none!important}.gps-505483104639517575 .hidden{display:none}.gps-505483104639517575 .aspect-square{aspect-ratio:1/1}.gps-505483104639517575 .h-0{height:0}.gps-505483104639517575 .h-5{height:20px}.gps-505483104639517575 .h-6{height:24px}.gps-505483104639517575 .h-auto{height:auto}.gps-505483104639517575 .h-fit{height:-moz-fit-content;height:fit-content}.gps-505483104639517575 .h-full{height:100%}.gps-505483104639517575 .\!min-h-full{min-height:100%!important}.gps-505483104639517575 .\!w-full{width:100%!important}.gps-505483104639517575 .w-5{width:20px}.gps-505483104639517575 .w-6{width:24px}.gps-505483104639517575 .w-\[12px\]{width:12px}.gps-505483104639517575 .w-auto{width:auto}.gps-505483104639517575 .w-full{width:100%}.gps-505483104639517575 .w-max{width:-moz-max-content;width:max-content}.gps-505483104639517575 .\!min-w-full{min-width:100%!important}.gps-505483104639517575 .min-w-\[45px\]{min-width:45px}.gps-505483104639517575 .min-w-fit{min-width:-moz-fit-content;min-width:fit-content}.gps-505483104639517575 .min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-505483104639517575 .\!max-w-full{max-width:100%!important}.gps-505483104639517575 .\!max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-505483104639517575 .max-w-full{max-width:100%}.gps-505483104639517575 .flex-1{flex:1 1 0%}.gps-505483104639517575 .flex-none{flex:none}.gps-505483104639517575 .shrink-0{flex-shrink:0}.gps-505483104639517575 .shrink-\[99999\]{flex-shrink:99999}.gps-505483104639517575 .rotate-0{--tw-rotate:0deg}.gps-505483104639517575 .rotate-0,.gps-505483104639517575 .rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-505483104639517575 .rotate-180{--tw-rotate:180deg}.gps-505483104639517575 .-scale-100{--tw-scale-x:-1;--tw-scale-y:-1}.gps-505483104639517575 .-scale-100,.gps-505483104639517575 .transform{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}@keyframes spin{to{transform:rotate(1turn)}}.gps-505483104639517575 .animate-spin{animation:spin 1s linear infinite}.gps-505483104639517575 .\!cursor-not-allowed{cursor:not-allowed!important}.gps-505483104639517575 .cursor-pointer{cursor:pointer}.gps-505483104639517575 .appearance-none{-webkit-appearance:none;-moz-appearance:none;appearance:none}.gps-505483104639517575 .\!flex-row{flex-direction:row!important}.gps-505483104639517575 .flex-row{flex-direction:row}.gps-505483104639517575 .flex-col{flex-direction:column}.gps-505483104639517575 .flex-wrap{flex-wrap:wrap}.gps-505483104639517575 .\!flex-nowrap{flex-wrap:nowrap!important}.gps-505483104639517575 .items-start{align-items:flex-start}.gps-505483104639517575 .items-end{align-items:flex-end}.gps-505483104639517575 .items-center{align-items:center}.gps-505483104639517575 .items-baseline{align-items:baseline}.gps-505483104639517575 .justify-start{justify-content:flex-start}.gps-505483104639517575 .justify-center{justify-content:center}.gps-505483104639517575 .justify-between{justify-content:space-between}.gps-505483104639517575 .gap-2{gap:8px}.gps-505483104639517575 .gap-3{gap:12px}.gps-505483104639517575 .gap-\[6px\]{gap:6px}.gps-505483104639517575 .gap-y-0{row-gap:0}.gps-505483104639517575 .overflow-hidden{overflow:hidden}.gps-505483104639517575 .truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-505483104639517575 .text-ellipsis{text-overflow:ellipsis}.gps-505483104639517575 .break-words{overflow-wrap:break-word}.gps-505483104639517575 .\!rounded-full{border-radius:9999px!important}.gps-505483104639517575 .\!rounded-none{border-radius:0!important}.gps-505483104639517575 .rounded{border-radius:4px}.gps-505483104639517575 .rounded-full{border-radius:9999px}.gps-505483104639517575 .rounded-none{border-radius:0}.gps-505483104639517575 .border{border-width:1px}.gps-505483104639517575 .\!border-x-0{border-left-width:0!important;border-right-width:0!important}.gps-505483104639517575 .border-y{border-bottom-width:1px;border-top-width:1px}.gps-505483104639517575 .bg-black\/50{background-color:rgba(0,0,0,.5)}.gps-505483104639517575 .bg-g-bg-3{background-color:var(--g-c-bg-3)}.gps-505483104639517575 .bg-g-text-1{background-color:var(--g-c-text-1)}.gps-505483104639517575 .bg-transparent{background-color:transparent}.gps-505483104639517575 .\!bg-\[length\:200\%\]{background-size:200%!important}.gps-505483104639517575 .bg-\[length\:60px_100\%\]{background-size:60px 100%}.gps-505483104639517575 .bg-auto{background-size:auto}.gps-505483104639517575 .object-cover{-o-object-fit:cover;object-fit:cover}.gps-505483104639517575 .p-\[4px\]{padding:4px}.gps-505483104639517575 .px-0{padding-left:0;padding-right:0}.gps-505483104639517575 .px-1{padding-left:4px;padding-right:4px}.gps-505483104639517575 .px-2{padding-left:8px;padding-right:8px}.gps-505483104639517575 .px-4{padding-left:16px;padding-right:16px}.gps-505483104639517575 .py-0{padding-bottom:0;padding-top:0}.gps-505483104639517575 .py-1{padding-bottom:4px;padding-top:4px}.gps-505483104639517575 .\!pb-0{padding-bottom:0!important}.gps-505483104639517575 .pb-1{padding-bottom:4px}.gps-505483104639517575 .pl-4{padding-left:16px}.gps-505483104639517575 .pr-1{padding-right:4px}.gps-505483104639517575 .pr-6{padding-right:24px}.gps-505483104639517575 .text-center{text-align:center}.gps-505483104639517575 .italic{font-style:italic}.gps-505483104639517575 .leading-\[0\]{line-height:0}.gps-505483104639517575 .text-g-text-2{color:var(--g-c-text-2)}.gps-505483104639517575 .text-g-text-3{color:var(--g-c-text-3)}.gps-505483104639517575 .text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-505483104639517575 .text-white{--tw-text-opacity:1;color:rgb(255 255 255/var(--tw-text-opacity))}.gps-505483104639517575 .line-through{text-decoration-line:line-through}.gps-505483104639517575 .no-underline{text-decoration-line:none}.gps-505483104639517575 .decoration-g-text-1{text-decoration-color:var(--g-c-text-1)}.gps-505483104639517575 .opacity-0{opacity:0}.gps-505483104639517575 .opacity-20{opacity:.2}.gps-505483104639517575 .opacity-25{opacity:.25}.gps-505483104639517575 .opacity-30{opacity:.3}.gps-505483104639517575 .opacity-75{opacity:.75}.gps-505483104639517575 .shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color)}.gps-505483104639517575 .shadow-md,.gps-505483104639517575 .shadow-none{box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-505483104639517575 .shadow-none{--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-505483104639517575 .outline-none{outline:2px solid transparent;outline-offset:2px}.gps-505483104639517575 .outline{outline-style:solid}.gps-505483104639517575 .outline-1{outline-width:1px}.gps-505483104639517575 .-outline-offset-1{outline-offset:-1px}.gps-505483104639517575 .blur{--tw-blur:blur(8px);filter:var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)}.gps-505483104639517575 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-505483104639517575 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-505483104639517575 .transition-opacity{transition-duration:.15s;transition-property:opacity;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-505483104639517575 .duration-100{transition-duration:.1s}.gps-505483104639517575 .duration-150{transition-duration:.15s}.gps-505483104639517575 .duration-200{transition-duration:.2s}.gps-505483104639517575 .duration-300{transition-duration:.3s}.gps-505483104639517575 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-505483104639517575 .disabled\:btn-disabled:disabled{cursor:default}.gps-505483104639517575 .before\:absolute:before{content:var(--tw-content);position:absolute}.gps-505483104639517575 .before\:top-\[50\%\]:before{content:var(--tw-content);top:50%}.gps-505483104639517575 .before\:z-1:before{content:var(--tw-content);z-index:1}.gps-505483104639517575 .before\:hidden:before{content:var(--tw-content);display:none}.gps-505483104639517575 .before\:w-full:before{content:var(--tw-content);width:100%}.gps-505483104639517575 .before\:-rotate-45:before{--tw-rotate:-45deg;content:var(--tw-content);transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-505483104639517575 .before\:border-t:before{border-top-width:1px;content:var(--tw-content)}.gps-505483104639517575 .before\:content-\[\'\'\]:before{--tw-content:"";content:var(--tw-content)}@media (hover:hover) and (pointer:fine){.gps-505483104639517575 .hover\:bg-g-bg-3:hover{background-color:var(--g-c-bg-3)}.gps-505483104639517575 .hover\:text-black:hover{--tw-text-opacity:1;color:rgb(0 0 0/var(--tw-text-opacity))}}.gps-505483104639517575 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-505483104639517575 .disabled\:cursor-not-allowed:disabled{cursor:not-allowed}.gps-505483104639517575 .disabled\:opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-505483104639517575 .group:hover .group-hover\:opacity-100{opacity:1}}.gps-505483104639517575 .data-\[disabled\=\'disabled\'\]\:pointer-events-none[data-disabled=disabled]{pointer-events:none}.gps-505483104639517575 .data-\[visible\=true\]\:block[data-visible=true]{display:block}.gps-505483104639517575 .data-\[hidden\=\'false\'\]\:flex[data-hidden=false]{display:flex}.gps-505483104639517575 .data-\[disabled\=true\]\:hidden[data-disabled=true],.gps-505483104639517575 .data-\[hidden\=\'true\'\]\:hidden[data-hidden=true],.gps-505483104639517575 .data-\[hidden\=true\]\:hidden[data-hidden=true],.gps-505483104639517575 .data-\[only-image\=true\]\:hidden[data-only-image=true],.gps-505483104639517575 .data-\[visible\=false\]\:hidden[data-visible=false]{display:none}.gps-505483104639517575 .data-\[disabled\=\'disabled\'\]\:\!cursor-not-allowed[data-disabled=disabled]{cursor:not-allowed!important}.gps-505483104639517575 .data-\[disabled\=true\]\:opacity-60[data-disabled=true]{opacity:.6}.gps-505483104639517575 .data-\[outline\=active\]\:outline[data-outline=active]{outline-style:solid}.gps-505483104639517575 .data-\[outline\=deactive\]\:after\:\!border-transparent[data-outline=deactive]:after{border-color:transparent!important;content:var(--tw-content)}.gps-505483104639517575 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-505483104639517575 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}.gps-505483104639517575 .scrollbar-thumb\:rounded-2xl::-webkit-scrollbar-thumb,.gps-505483104639517575 .scrollbar-track\:rounded-2xl::-webkit-scrollbar-track{border-radius:16px}.gps-505483104639517575 .scrollbar-thumb\:bg-gray-400::-webkit-scrollbar-thumb{--tw-bg-opacity:1;background-color:rgb(156 163 175/var(--tw-bg-opacity))}@media (max-width:1023px){.gps-505483104639517575 .tablet\:\!absolute{position:absolute!important}.gps-505483104639517575 .tablet\:z-2{z-index:2}.gps-505483104639517575 .tablet\:block{display:block}.gps-505483104639517575 .tablet\:hidden{display:none}.gps-505483104639517575 .tablet\:\!min-h-full{min-height:100%!important}.gps-505483104639517575 .tablet\:w-full{width:100%}.gps-505483104639517575 .tablet\:rotate-0{--tw-rotate:0deg}.gps-505483104639517575 .tablet\:rotate-0,.gps-505483104639517575 .tablet\:rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-505483104639517575 .tablet\:rotate-180{--tw-rotate:180deg}.gps-505483104639517575 .tablet\:\!flex-row{flex-direction:row!important}.gps-505483104639517575 .tablet\:flex-row{flex-direction:row}.gps-505483104639517575 .tablet\:flex-col{flex-direction:column}.gps-505483104639517575 .tablet\:\!flex-nowrap{flex-wrap:nowrap!important}.gps-505483104639517575 .tablet\:px-0{padding-left:0;padding-right:0}.gps-505483104639517575 .tablet\:py-0{padding-bottom:0;padding-top:0}}@media (max-width:767px){.gps-505483104639517575 .mobile\:\!absolute{position:absolute!important}.gps-505483104639517575 .mobile\:z-2{z-index:2}.gps-505483104639517575 .mobile\:block{display:block}.gps-505483104639517575 .mobile\:hidden{display:none}.gps-505483104639517575 .mobile\:\!min-h-full{min-height:100%!important}.gps-505483104639517575 .mobile\:w-full{width:100%}.gps-505483104639517575 .mobile\:rotate-0{--tw-rotate:0deg}.gps-505483104639517575 .mobile\:rotate-0,.gps-505483104639517575 .mobile\:rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-505483104639517575 .mobile\:rotate-180{--tw-rotate:180deg}.gps-505483104639517575 .mobile\:\!flex-row{flex-direction:row!important}.gps-505483104639517575 .mobile\:flex-row{flex-direction:row}.gps-505483104639517575 .mobile\:flex-col{flex-direction:column}.gps-505483104639517575 .mobile\:\!flex-nowrap{flex-wrap:nowrap!important}.gps-505483104639517575 .mobile\:px-0{padding-left:0;padding-right:0}.gps-505483104639517575 .mobile\:py-0{padding-bottom:0;padding-top:0}}.gps-505483104639517575 .\[\&\>svg\]\:\!h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-505483104639517575 .\[\&\>svg\]\:h-full>svg{height:100%}.gps-505483104639517575 .\[\&\>svg\]\:\!w-auto>svg{width:auto!important}.gps-505483104639517575 .\[\&\>svg\]\:w-full>svg{width:100%}@media (max-width:1023px){.gps-505483104639517575 .tablet\:\[\&\>svg\]\:\!h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-505483104639517575 .mobile\:\[\&\>svg\]\:\!h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-505483104639517575 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-505483104639517575 .\[\&_p\]\:inline p{display:inline}.gps-505483104639517575 .\[\&_p\]\:whitespace-pre-line p{white-space:pre-line}.gps-505483104639517575 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-505483104639517575 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gqLsTseoor"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-2xl);--pl:15px;--pb:var(--g-s-2xl);--pr:15px;--cg:48px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gqLsTseoor mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g21udsfcGn relative flex flex-col"
    >
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product.v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    {%- assign gpBkProduct = product -%}
    
        {%- liquid
          if request.page_type == 'product'
            if 'static' == 'static'
              if '7968418300082' == 'latest'
                paginate collections.all.products by 100000
                  assign product = collections.all.products | sort: 'created_at' | reverse | first
                endpaginate
              else
                assign product = all_products['therapy-dough']
                if product == empty or product == null
                  paginate collections.all.products by 100000
                    for item in collections.all.products 
                      if item.id == '7968418300082'
                        assign product = item
                      endif
                    endfor
                  endpaginate
                endif
              endif
            endif
          else
            if '7968418300082' == 'latest'
              paginate collections.all.products by 100000
                assign product = collections.all.products | sort: 'created_at'| reverse | first
              endpaginate
            else
              assign product = all_products['therapy-dough']
              if product == empty or product == null
                paginate collections.all.products by 100000
                  for item in collections.all.products 
                    if item.id == '7968418300082'
                      assign product = item
                    endif
                  endfor
                endpaginate
              endif
            endif
          endif
        -%}
      

    {%-if product != empty and product != null -%}
      {%- assign initVariantId =  -%}
      {%- assign product_form_id = 'product-form-' | append: "gA0cpeUOAv" -%}
      {%- assign variant = product.selected_or_first_available_variant -%}
      {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%-if productSelectedVariant == empty or productSelectedVariant == null -%}
        {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      <gp-product class="" gp-context='{"productId": {{ product.id }}, "isSyncProduct": "", "variantSelected": {{ variant | json | escape }}, "quantity": 1, "formId": "{{ product_form_id }}" }'
        gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1}'>
        <product-form class="product-form">
          {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
            <input type="hidden" name="id" value="{{ variant.id }}" />
            <input type="hidden" name="quantity" value="{{ quantity }}" />
            <button type="submit" onclick="return false;" style="display:none;"></button>
            
      
      
    <div
      id
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--mb-mobile:0px;--pt-mobile:var(--g-s-2xl);--pb-mobile:var(--g-s-2xl);--cg:Auto;--cg-tablet:24px;--pc:center;--gtc:minmax(0, 7fr) minmax(0, 5fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%"
        class="mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start;--o:0;--o-mobile:1"
      class="gIL_z_1hWT relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-tablet:var(--g-s-s)" class="gevIvuHdGr ">
      
    {%- unless product -%}
      <p>Product not found</p>
    {%- else -%}
      
        <a href="{{ product.url }}" title="{{ product.title }}">
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A']"
          style="--w:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#3B3B3B;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:normal;--lh:150%;--size:24px;--size-tablet:21px;--size-mobile:21px;--tt:none;word-break:break-word;overflow:hidden"
        >
        {{ product.title }}
        </h2>
      </div>
    </div>
        </a>
      
    {%- endunless -%}
  
      </div>
    <div
      parentTag="Col"
        class="gJw9htsQNZ "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:500;--ls:normal;--lh:150%;--size:14px;--size-tablet:14px;--size-mobile:12px;--c:#EC6448;--tt:none;word-break:break-word;overflow:hidden"
        >
        <p>#1 Best Seller</p>
        </div>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="gnMI94keHh"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-tablet:var(--g-s-l);--cg:6px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gnMI94keHh mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gSzqEijEwY relative flex flex-col"
    >
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-price.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
      <gp-product-price
        gp-data='{"priceType":"regular","uid":"gyqikiw7da","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
        
        class=" data-[hidden=true]:hidden"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
        data-hidden="false"
      >
        
    <div
      id="p-price-gyqikiw7da"
        class=" "
        style=""
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-price gp-money decoration-g-text-1"
          style="--w:100%;--tdc:text-1;--tdt:1;--ta:left;--c:#0E0F0F;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:600;--ls:normal;--lh:120%;--size:33px;--size-tablet:27px;--size-mobile:28px;--tt:none;word-break:break-word;overflow:hidden"
        >
        
                  {% if variant.price %} 
                    {{ variant.price | money}}
                  {% endif %}
                
        </div>
      </div>
    </div>
      </gp-product-price>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gv1u-TNcGe relative flex flex-col"
    >
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-price.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
      <gp-product-price
        gp-data='{"priceType":"compare","uid":"gdjf1W9VRt","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
        
        class=" data-[hidden=true]:hidden"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
        data-hidden="{% if variant.compare_at_price > variant.price and variant.compare_at_price >= 0 %}false{% else %}true{% endif %}"
      >
        
    <div
      id="p-price-gdjf1W9VRt"
        class=" "
        style=""
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-price gp-product-compare-price line-through"
          style="--w:100%;--tdc:#92959A;--tdt:1;--ta:left;--c:#92959A;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:normal;--lh:150%;--size:24px;--size-tablet:21px;--size-mobile:21px;word-break:break-word;overflow:hidden"
        >
        
                  {% if variant.compare_at_price  %} 
                    {{ variant.compare_at_price | money}}
                  {% endif %}
                
        </div>
      </div>
    </div>
      </gp-product-price>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g6neiEX2hm relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gs17Y6NXSe ">
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-tag.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  {% liquid 
    assign price = variant.price | times: 1.0
    assign salePrice = variant.compare_at_price | times: 1.0
    assign priceSave = salePrice | minus: price
    if salePrice == null or price == null
      assign pricePercentage = '- ' | append: '0%' | append: ' '
    else 
         assign salePercent = priceSave | divided_by: salePrice | times: 100  | round
                assign pricePercentage = '- ' | append: salePercent | append: '%' | append: ' '
              
    endif
  %}

   <gp-product-tag
    data-disabled="{%- if priceSave > 0 -%} false {%- else -%} true {%- endif -%}"
    gp-data='{"setting":{"customContent":{"prefix":"-","suffix":"","unit":"percentage"}}, "id": "gs17Y6NXSe", "locale": "{{shop.locale}}", "currency": "{{shop.currency}}", "moneyFormat": "{{ shop.money_format | replace: '"', '\"' | escape }}"}'
    class="block data-[disabled=true]:hidden "
    style="--ta:left"
  >
 
     <div class="inline-flex flex-wrap items-end gap-3">
       <div
         class="inline-block"
         style="--bs:none;--bw:0px;--bc:transparent;--bg:#EC6448;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--pl:6px;--pr:6px;--pt:1.5px;--pb:1.5px"
       >
         
    <div
      id="p-tag-gs17Y6NXSe"
        class=" "
        style=""
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A']"
          style="--w:100%;--ta:left;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:normal;--lh:150%;--size:14px;--size-tablet:14px;--size-mobile:14px;--c:#FFFFFF;word-break:break-word;overflow:hidden"
        >
        {{pricePercentage}}
        </div>
      </div>
    </div>
       </div>
     </div>

 </gp-product-tag>
   
      </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gH7O_GWu0B"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:8px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gH7O_GWu0B mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gWrMtaE_HZ relative flex flex-col"
    >
      
    
      
      
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
        
    <div 
            class="flex flex-wrap"
            style="--cg:4px;--jc:left">
            <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gKNJmwrCQ8 ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] gQWN9e-g9c"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FFBD13;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px;--height-desktop:14px;--height-tablet:14px;--height-mobile:14px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M494.756 172.531C487.584 166.223 478.755 162.157 469.223 160.772L352.515 143.813L300.322 38.0585C296.059 29.4211 289.463 22.2793 281.248 17.4079C273.627 12.8894 264.893 10.5 255.99 10.5C247.086 10.5 238.352 12.8885 230.731 17.4079C222.516 22.2793 215.921 29.4202 211.658 38.0585L159.465 143.814L42.7577 160.772C33.2249 162.157 24.3953 166.223 17.2238 172.531C10.571 178.382 5.6009 185.95 2.8493 194.418C0.0985474 202.886 -0.329158 211.931 1.61295 220.575C3.70726 229.892 8.46049 238.373 15.359 245.096L99.8092 327.415L79.8728 443.651C77.4027 458.054 81.3677 472.698 90.7517 483.83C100.205 495.043 113.999 501.474 128.596 501.474C136.545 501.474 144.501 499.501 151.604 495.766L255.991 440.887L360.377 495.766C367.48 499.501 375.435 501.474 383.385 501.474C397.981 501.474 411.775 495.043 421.229 483.83C430.613 472.698 434.578 458.055 432.108 443.651L412.173 327.415L496.623 245.096C503.521 238.372 508.274 229.892 510.368 220.575C512.311 211.931 511.883 202.886 509.133 194.418C506.38 185.951 501.409 178.382 494.756 172.531ZM471.194 219.011L377.929 309.924C374.863 312.913 373.463 317.219 374.188 321.439L396.205 449.81C397.647 458.219 390.965 465.048 383.385 465.048C381.384 465.048 379.322 464.572 377.329 463.524L262.046 402.917C260.15 401.92 258.07 401.422 255.991 401.422C253.912 401.422 251.833 401.92 249.937 402.917L134.654 463.524C132.662 464.572 130.597 465.048 128.597 465.048C121.016 465.048 114.335 458.219 115.777 449.81L137.794 321.439C138.519 317.219 137.119 312.913 134.053 309.924L40.785 219.011C33.0633 211.485 37.3242 198.372 47.9948 196.821L176.886 178.092C181.123 177.476 184.787 174.815 186.682 170.975L244.324 54.1795C246.71 49.3447 251.35 46.9272 255.991 46.9272C260.632 46.9272 265.271 49.3455 267.656 54.1795L325.298 170.975C327.194 174.814 330.856 177.476 335.094 178.092L463.985 196.821C474.656 198.372 478.916 211.485 471.194 219.011Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="goUFU-ILFr ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] gifuEm2AGW"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FFBD13;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px;--height-desktop:14px;--height-tablet:14px;--height-mobile:14px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M494.756 172.531C487.584 166.223 478.755 162.157 469.223 160.772L352.515 143.813L300.322 38.0585C296.059 29.4211 289.463 22.2793 281.248 17.4079C273.627 12.8894 264.893 10.5 255.99 10.5C247.086 10.5 238.352 12.8885 230.731 17.4079C222.516 22.2793 215.921 29.4202 211.658 38.0585L159.465 143.814L42.7577 160.772C33.2249 162.157 24.3953 166.223 17.2238 172.531C10.571 178.382 5.6009 185.95 2.8493 194.418C0.0985474 202.886 -0.329158 211.931 1.61295 220.575C3.70726 229.892 8.46049 238.373 15.359 245.096L99.8092 327.415L79.8728 443.651C77.4027 458.054 81.3677 472.698 90.7517 483.83C100.205 495.043 113.999 501.474 128.596 501.474C136.545 501.474 144.501 499.501 151.604 495.766L255.991 440.887L360.377 495.766C367.48 499.501 375.435 501.474 383.385 501.474C397.981 501.474 411.775 495.043 421.229 483.83C430.613 472.698 434.578 458.055 432.108 443.651L412.173 327.415L496.623 245.096C503.521 238.372 508.274 229.892 510.368 220.575C512.311 211.931 511.883 202.886 509.133 194.418C506.38 185.951 501.409 178.382 494.756 172.531ZM471.194 219.011L377.929 309.924C374.863 312.913 373.463 317.219 374.188 321.439L396.205 449.81C397.647 458.219 390.965 465.048 383.385 465.048C381.384 465.048 379.322 464.572 377.329 463.524L262.046 402.917C260.15 401.92 258.07 401.422 255.991 401.422C253.912 401.422 251.833 401.92 249.937 402.917L134.654 463.524C132.662 464.572 130.597 465.048 128.597 465.048C121.016 465.048 114.335 458.219 115.777 449.81L137.794 321.439C138.519 317.219 137.119 312.913 134.053 309.924L40.785 219.011C33.0633 211.485 37.3242 198.372 47.9948 196.821L176.886 178.092C181.123 177.476 184.787 174.815 186.682 170.975L244.324 54.1795C246.71 49.3447 251.35 46.9272 255.991 46.9272C260.632 46.9272 265.271 49.3455 267.656 54.1795L325.298 170.975C327.194 174.814 330.856 177.476 335.094 178.092L463.985 196.821C474.656 198.372 478.916 211.485 471.194 219.011Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="g6HcxYNyHA ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] gReAm8ze9T"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FFBD13;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px;--height-desktop:14px;--height-tablet:14px;--height-mobile:14px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M494.756 172.531C487.584 166.223 478.755 162.157 469.223 160.772L352.515 143.813L300.322 38.0585C296.059 29.4211 289.463 22.2793 281.248 17.4079C273.627 12.8894 264.893 10.5 255.99 10.5C247.086 10.5 238.352 12.8885 230.731 17.4079C222.516 22.2793 215.921 29.4202 211.658 38.0585L159.465 143.814L42.7577 160.772C33.2249 162.157 24.3953 166.223 17.2238 172.531C10.571 178.382 5.6009 185.95 2.8493 194.418C0.0985474 202.886 -0.329158 211.931 1.61295 220.575C3.70726 229.892 8.46049 238.373 15.359 245.096L99.8092 327.415L79.8728 443.651C77.4027 458.054 81.3677 472.698 90.7517 483.83C100.205 495.043 113.999 501.474 128.596 501.474C136.545 501.474 144.501 499.501 151.604 495.766L255.991 440.887L360.377 495.766C367.48 499.501 375.435 501.474 383.385 501.474C397.981 501.474 411.775 495.043 421.229 483.83C430.613 472.698 434.578 458.055 432.108 443.651L412.173 327.415L496.623 245.096C503.521 238.372 508.274 229.892 510.368 220.575C512.311 211.931 511.883 202.886 509.133 194.418C506.38 185.951 501.409 178.382 494.756 172.531ZM471.194 219.011L377.929 309.924C374.863 312.913 373.463 317.219 374.188 321.439L396.205 449.81C397.647 458.219 390.965 465.048 383.385 465.048C381.384 465.048 379.322 464.572 377.329 463.524L262.046 402.917C260.15 401.92 258.07 401.422 255.991 401.422C253.912 401.422 251.833 401.92 249.937 402.917L134.654 463.524C132.662 464.572 130.597 465.048 128.597 465.048C121.016 465.048 114.335 458.219 115.777 449.81L137.794 321.439C138.519 317.219 137.119 312.913 134.053 309.924L40.785 219.011C33.0633 211.485 37.3242 198.372 47.9948 196.821L176.886 178.092C181.123 177.476 184.787 174.815 186.682 170.975L244.324 54.1795C246.71 49.3447 251.35 46.9272 255.991 46.9272C260.632 46.9272 265.271 49.3455 267.656 54.1795L325.298 170.975C327.194 174.814 330.856 177.476 335.094 178.092L463.985 196.821C474.656 198.372 478.916 211.485 471.194 219.011Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gdGIx75Mrx ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] gkyUkNIhgL"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FFBD13;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px;--height-desktop:14px;--height-tablet:14px;--height-mobile:14px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M494.756 172.531C487.584 166.223 478.755 162.157 469.223 160.772L352.515 143.813L300.322 38.0585C296.059 29.4211 289.463 22.2793 281.248 17.4079C273.627 12.8894 264.893 10.5 255.99 10.5C247.086 10.5 238.352 12.8885 230.731 17.4079C222.516 22.2793 215.921 29.4202 211.658 38.0585L159.465 143.814L42.7577 160.772C33.2249 162.157 24.3953 166.223 17.2238 172.531C10.571 178.382 5.6009 185.95 2.8493 194.418C0.0985474 202.886 -0.329158 211.931 1.61295 220.575C3.70726 229.892 8.46049 238.373 15.359 245.096L99.8092 327.415L79.8728 443.651C77.4027 458.054 81.3677 472.698 90.7517 483.83C100.205 495.043 113.999 501.474 128.596 501.474C136.545 501.474 144.501 499.501 151.604 495.766L255.991 440.887L360.377 495.766C367.48 499.501 375.435 501.474 383.385 501.474C397.981 501.474 411.775 495.043 421.229 483.83C430.613 472.698 434.578 458.055 432.108 443.651L412.173 327.415L496.623 245.096C503.521 238.372 508.274 229.892 510.368 220.575C512.311 211.931 511.883 202.886 509.133 194.418C506.38 185.951 501.409 178.382 494.756 172.531ZM471.194 219.011L377.929 309.924C374.863 312.913 373.463 317.219 374.188 321.439L396.205 449.81C397.647 458.219 390.965 465.048 383.385 465.048C381.384 465.048 379.322 464.572 377.329 463.524L262.046 402.917C260.15 401.92 258.07 401.422 255.991 401.422C253.912 401.422 251.833 401.92 249.937 402.917L134.654 463.524C132.662 464.572 130.597 465.048 128.597 465.048C121.016 465.048 114.335 458.219 115.777 449.81L137.794 321.439C138.519 317.219 137.119 312.913 134.053 309.924L40.785 219.011C33.0633 211.485 37.3242 198.372 47.9948 196.821L176.886 178.092C181.123 177.476 184.787 174.815 186.682 170.975L244.324 54.1795C246.71 49.3447 251.35 46.9272 255.991 46.9272C260.632 46.9272 265.271 49.3455 267.656 54.1795L325.298 170.975C327.194 174.814 330.856 177.476 335.094 178.092L463.985 196.821C474.656 198.372 478.916 211.485 471.194 219.011Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="glNjvwPQBt ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] geEsNBpKqu"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px;--height-desktop:14px;--height-tablet:14px;--height-mobile:14px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M494.756 172.531C487.584 166.223 478.755 162.157 469.223 160.772L352.515 143.813L300.322 38.0585C296.059 29.4211 289.463 22.2793 281.248 17.4079C273.627 12.8894 264.893 10.5 255.99 10.5C247.086 10.5 238.352 12.8885 230.731 17.4079C222.516 22.2793 215.921 29.4202 211.658 38.0585L159.465 143.814L42.7577 160.772C33.2249 162.157 24.3953 166.223 17.2238 172.531C10.571 178.382 5.6009 185.95 2.8493 194.418C0.0985474 202.886 -0.329158 211.931 1.61295 220.575C3.70726 229.892 8.46049 238.373 15.359 245.096L99.8092 327.415L79.8728 443.651C77.4027 458.054 81.3677 472.698 90.7517 483.83C100.205 495.043 113.999 501.474 128.596 501.474C136.545 501.474 144.501 499.501 151.604 495.766L255.991 440.887L360.377 495.766C367.48 499.501 375.435 501.474 383.385 501.474C397.981 501.474 411.775 495.043 421.229 483.83C430.613 472.698 434.578 458.055 432.108 443.651L412.173 327.415L496.623 245.096C503.521 238.372 508.274 229.892 510.368 220.575C512.311 211.931 511.883 202.886 509.133 194.418C506.38 185.951 501.409 178.382 494.756 172.531ZM471.194 219.011L377.929 309.924C374.863 312.913 373.463 317.219 374.188 321.439L396.205 449.81C397.647 458.219 390.965 465.048 383.385 465.048C381.384 465.048 379.322 464.572 377.329 463.524L262.046 402.917C260.15 401.92 258.07 401.422 255.991 401.422C253.912 401.422 251.833 401.92 249.937 402.917L134.654 463.524C132.662 464.572 130.597 465.048 128.597 465.048C121.016 465.048 114.335 458.219 115.777 449.81L137.794 321.439C138.519 317.219 137.119 312.913 134.053 309.924L40.785 219.011C33.0633 211.485 37.3242 198.372 47.9948 196.821L176.886 178.092C181.123 177.476 184.787 174.815 186.682 170.975L244.324 54.1795C246.71 49.3447 251.35 46.9272 255.991 46.9272C260.632 46.9272 265.271 49.3455 267.656 54.1795L325.298 170.975C327.194 174.814 330.856 177.476 335.094 178.092L463.985 196.821C474.656 198.372 478.916 211.485 471.194 219.011Z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div>
         </div>
    </div>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gRCj51Ubqq relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="girAq_jaak "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:normal;--lh:150%;--size:14px;--size-tablet:12px;--size-mobile:12px;--c:#6B6E74;word-break:break-word;overflow:hidden"
        >
        <p>(249 reviews)</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="g3tsdxADHJ"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl);--cg:8px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g3tsdxADHJ mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gxN39jSK0H relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] gJewV36hJc"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent"
      >
      <div
      
    >
      <span
        style="--c:#EC6448;--t:rotate(0deg);--w:20px;--h:20px;--minw:20px;--height-desktop:20px;--height-tablet:20px;--height-mobile:20px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M256 512c106.048 0 192 -64 192 -176 0 -48 -16 -128 -80 -192 8 48 -40 64 -40 64C352 128 288 16 192 0c11.424 64 16 128 -64 192 -40 32 -64 87.328 -64 144C64 448 149.952 512 256 512Zm0 -32c-53.024 0 -96 -32 -96 -88 0 -24 8 -64 40 -96C196 320 224 336 224 336c-12 -40 16 -104 64 -112 -5.728 32 -8 64 32 96 20 16 32 43.648 32 72C352 448 309.024 480 256 480Z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gcf8GEUeep relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g8Hmshp-fu "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:normal;--lh:150%;--size:14px;--size-tablet:12px;--size-mobile:12px;--c:#6B6E74;word-break:break-word;overflow:hidden"
        >
        <p>1301 people have purchased this item&nbsp;</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gj3zFF1PvM"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s);--cg:16px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gj3zFF1PvM mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gurMRL4-EK relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:9px;--ta:left"
      class="leading-[0] gYrtHmTgbn"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent"
      >
      <div
      
    >
      <span
        style="--c:#000000;--t:rotate(0deg);--w:6px;--h:6px;--minw:6px;--height-desktop:6px;--height-tablet:6px;--height-mobile:6px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g1sIbrSXrS relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gYQ8MqyFZt "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:14px;--size-mobile:14px;--c:#6B6E74;--tt:none;word-break:break-word;overflow:hidden"
        >
        <p><span style="color:rgb(15,17,17);">Complete Stress Relief Solution  Immerse yourself in the ultimate relaxation experience with our therapy dough, specially formulated to dissolve stress and tension. &nbsp;</span></p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gSZYvc_tyU"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s);--cg:16px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gSZYvc_tyU mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gkOcWCb3gX relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:9px;--ta:left"
      class="leading-[0] g9-3tCHtM1"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent"
      >
      <div
      
    >
      <span
        style="--c:#000000;--t:rotate(0deg);--w:6px;--h:6px;--minw:6px;--height-desktop:6px;--height-tablet:6px;--height-mobile:6px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gmEX0nhWCj relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gtdPR2bcDk "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:14px;--size-mobile:14px;--c:#121212;--tt:none;word-break:break-word;overflow:hidden"
        >
        <p>20 Mins Fast Removal, Effective &amp; Rapid Stress Relieving, long-lasting results.</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="g1JPWKd8-1"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s);--cg:16px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g1JPWKd8-1 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gopRlHiEIA relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:9px;--ta:left"
      class="leading-[0] gsRv3ihGB8"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent"
      >
      <div
      
    >
      <span
        style="--c:#000000;--t:rotate(0deg);--w:6px;--h:6px;--minw:6px;--height-desktop:6px;--height-tablet:6px;--height-mobile:6px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g12M8f5mgD relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gXh5hfBdmK "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:14px;--size-mobile:14px;--c:#6B6E74;--tt:none;word-break:break-word;overflow:hidden"
        >
        <p><span style="color:rgb(15,17,17);">Premium Quality Assurance  Experience the luxury of our premium therapy dough, crafted with the highest quality materials for maximum safety and satisfaction.&nbsp;</span></p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="g1ytKwuudO"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s);--cg:16px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g1ytKwuudO mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g3vbIcTmre relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:9px;--ta:left"
      class="leading-[0] gP5tLyXhHQ"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent"
      >
      <div
      
    >
      <span
        style="--c:#121212;--t:rotate(0deg);--w:6px;--h:6px;--minw:6px;--height-desktop:6px;--height-tablet:6px;--height-mobile:6px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gpOMjE4Ywc relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gns2qID91f "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:14px;--size-mobile:14px;--c:#6B6E74;--tt:none;word-break:break-word;overflow:hidden"
        >
        <p><span style="color:rgb(15,17,17);">On-The-Go Relaxation  Enjoy relaxation wherever you are with our portable therapy dough. Compact and lightweight, it's easy to take with you in your bag or pocket and experience instant stress relief anytime, anywhere.</span></p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gWpKp3xz2b"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl);--mb-mobile:var(--g-s-s);--mb-tablet:var(--g-s-xl);--cg:16px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gWpKp3xz2b mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g43p4yyeGU relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:9px;--ta:left"
      class="leading-[0] gtiJUTaogW"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent"
      >
      <div
      
    >
      <span
        style="--c:#121212;--t:rotate(0deg);--w:6px;--h:6px;--minw:6px;--height-desktop:6px;--height-tablet:6px;--height-mobile:6px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gylzekEgkj relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g7OkvXeEbu "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:14px;--size-mobile:14px;--c:#121212;--tt:none;word-break:break-word;overflow:hidden"
        >
        <p>Enhanced Sensory Experiment  Immerse yourself in a world of sensory from soothing lavender to sweet orange, our scented dough adds an extra dimension of enjoyment to your therapy sessions.</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gR_XAbicU-"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl);--mb-mobile:var(--g-s-xl);--cg:16px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gR_XAbicU- mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gJubT96Ypu relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gOce_ePoQK"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s);--mb-mobile:var(--g-s-s);--pl-mobile:150px;--cg:16px;--cg-tablet:16px;--cg-mobile:12px;--pc:start;--pc-mobile:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gOce_ePoQK mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-tablet:center;--jc-mobile:center"
      class="gEpAJKjPNL relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gcP2VUpg69"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        <img
    quality="70" title="Free Shipping"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-2b0be903-7c78-4478-8870-933cc2fba4f4.png" | asset_url }}" data-srcset="{{ '432750572815254551-2b0be903-7c78-4478-8870-933cc2fba4f4.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-2b0be903-7c78-4478-8870-933cc2fba4f4.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-2b0be903-7c78-4478-8870-933cc2fba4f4.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="80" height="80" alt="Free shipping icon" priority base-src
    sizes="100vw"
    style="--aspect:80/80;--aspect-tablet:80/80;--aspect-mobile:80/80;--objf:cover;--w:24px;--w-tablet:24px;--w-mobile:20px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-tablet:center;--jc-mobile:center"
      class="gw0But7MBF relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gH3L7iF9jC "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:normal;--lh:150%;--size:14px;--size-tablet:13px;--size-mobile:12px;--c:#3B3B3B;word-break:break-word;overflow:hidden"
        >
        <p>Free Shipping</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pb:var(--g-s-s)" class="geCGtxPUDo ">
      
    <div
      class="flex justify-start"
    >
      <div
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:rotate(0deg);--bc:#E6E9EB"
        class="block tablet:block mobile:block"
      ></div>
      <div
        class="items-center hidden tablet:hidden mobile:hidden"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#E6E9EB;--t:rotate(0deg)"
      >
        
    <div
      class="hidden"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#E6E9EB;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
        
            <span
              class="inline-flex items-center justify-center flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="inline-flex items-center justify-center flex-none g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="flex"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#E6E9EB;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
      </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:none;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pb:var(--g-s-s)" class="g1PaOBD2aE ">
      
    <div
      class="flex justify-start"
    >
      <div
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:rotate(0deg);--bc:#E6E9EB"
        class="block tablet:block mobile:block"
      ></div>
      <div
        class="items-center hidden tablet:hidden mobile:hidden"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#E6E9EB;--t:rotate(0deg)"
      >
        
    <div
      class="hidden"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#E6E9EB;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
        
            <span
              class="inline-flex items-center justify-center flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="inline-flex items-center justify-center flex-none g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="flex"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#E6E9EB;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
      </div>
    </div>
  
      </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gUrjw3q-GW relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gVaUGXeXyl"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s);--mb-mobile:var(--g-s-s);--pl-mobile:150px;--cg:16px;--cg-tablet:16px;--cg-mobile:12px;--pc:start;--pc-mobile:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gVaUGXeXyl mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-tablet:center;--jc-mobile:center"
      class="g66CSPF4SD relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gxBO0-gv3o"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        <img
    quality="70" title="Secured Payment"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-1110053f-3876-41ff-b9b1-b64fde8c5b96.png" | asset_url }}" data-srcset="{{ '432750572815254551-1110053f-3876-41ff-b9b1-b64fde8c5b96.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-1110053f-3876-41ff-b9b1-b64fde8c5b96.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-1110053f-3876-41ff-b9b1-b64fde8c5b96.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="80" height="80" alt="Security Icon" priority base-src
    sizes="100vw"
    style="--aspect:80/80;--aspect-tablet:80/80;--aspect-mobile:80/80;--objf:cover;--w:24px;--w-tablet:24px;--w-mobile:20px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-tablet:center;--jc-mobile:center"
      class="gxPtgcNXQF relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g_Ig8YV-MP "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:normal;--lh:150%;--size:14px;--size-tablet:13px;--size-mobile:12px;--c:#3B3B3B;word-break:break-word;overflow:hidden"
        >
        <p>Secured Payment&nbsp;</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pb:var(--g-s-s)" class="gazVe43-fA ">
      
    <div
      class="flex justify-start"
    >
      <div
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:rotate(0deg);--bc:#E6E9EB"
        class="block tablet:block mobile:block"
      ></div>
      <div
        class="items-center hidden tablet:hidden mobile:hidden"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#E6E9EB;--t:rotate(0deg)"
      >
        
    <div
      class="hidden"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#E6E9EB;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
        
            <span
              class="inline-flex items-center justify-center flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="inline-flex items-center justify-center flex-none g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="flex"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#E6E9EB;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
      </div>
    </div>
  
      </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gyu0dHu73F relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g_Apx3Ev7Y"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s);--mb-mobile:var(--g-s-s);--pl-mobile:150px;--cg:16px;--cg-tablet:16px;--cg-mobile:12px;--pc:start;--pc-mobile:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g_Apx3Ev7Y mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-tablet:center;--jc-mobile:center"
      class="gK4eTnb9lS relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image g_GsMnnkSN"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        <img
    quality="70" title="30-Day Return"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-fb8cfd88-cd74-453b-b3fe-9ae60421cc3d.png" | asset_url }}" data-srcset="{{ '432750572815254551-fb8cfd88-cd74-453b-b3fe-9ae60421cc3d.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-fb8cfd88-cd74-453b-b3fe-9ae60421cc3d.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-fb8cfd88-cd74-453b-b3fe-9ae60421cc3d.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="80" height="81" alt="Return Product Icon" priority base-src
    sizes="100vw"
    style="--aspect:80/81;--aspect-tablet:80/81;--aspect-mobile:80/81;--objf:cover;--w:24px;--w-tablet:24px;--w-mobile:20px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-tablet:center;--jc-mobile:center"
      class="gexos41z2l relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gOB28E0wmy "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:normal;--lh:150%;--size:14px;--size-tablet:13px;--size-mobile:12px;--c:#3B3B3B;word-break:break-word;overflow:hidden"
        >
        <p>30 - Day Return</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>{% render 'gp-section-505483104639517575-1', product: product, variant: variant, product_form_id: product_form_id, productSelectedVariant: productSelectedVariant, form: form  %}
    </div>
  
    
          {%- endform -%}
        </product-form>
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="text-center">Product not found</div>
    {%- endif -%}
  
      
      
    <div
      parentTag="Col" id="gRw1wSroFs"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:1376px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gRw1wSroFs mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gw7v_XE4Vy relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gTfsCnr722"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:var(--g-s-2xl);--mb:0px;--mt-mobile:var(--g-s-2xl);--mb-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title="Squeeze squeeze ~"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "499742552031757542-468f367b-ecf4-4dcb-ab85-2aee9aa89222.gif" | asset_url }}" data-srcset="{{ '499742552031757542-468f367b-ecf4-4dcb-ab85-2aee9aa89222.gif' | asset_img_url: '768x768' }} 768w, {{ '499742552031757542-468f367b-ecf4-4dcb-ab85-2aee9aa89222.gif' | asset_img_url: '1024x1024' }} 1024w, {{ '499742552031757542-468f367b-ecf4-4dcb-ab85-2aee9aa89222.gif' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="480" height="480" alt="Pinch Dough GIF" priority base-src
    sizes="100vw"
    style="--aspect:480/480;--aspect-tablet:480/480;--aspect-mobile:480/480;--objf:cover;--w:450px;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="guDSsmx7SB relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gKeZ-vtH8V"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:var(--g-s-2xl);--mb:var(--g-s-2xl);--mt-mobile:var(--g-s-2xl);--mb-mobile:auto;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gKeZ-vtH8V mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g3vwxSloFC relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gmUcXXaTSZ "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl);--mb-mobile:21px"
      >
      <div class="flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--ls:normal;--lh:120%;--size:33px;--size-tablet:33px;--size-mobile:28px;--weight:bold;--c:#EE6A77;--tt:none;word-break:break-word;overflow:hidden"
        >
        <p>How To Use</p>
        </h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g37yiZR5Ic "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:500;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#3B3B3B;--tt:none;word-break:break-word;overflow:hidden"
        >
        <p><span style="color:#3B3B3B;"><strong>Step 1: &nbsp; Choose your scent</strong></span></p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gWczSK8_Xp "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:13px;--mb-mobile:16px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#6B6E74;--tt:none;word-break:break-word;overflow:hidden"
        >
        <p>Select the Therapy Dough scent that best suits your mood or preferences. Each color corresponds to a unique aroma, ranging from calming lavender to invigorating citrus.</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="geK5ek-9q3 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pb:var(--g-s-s);--pb-mobile:var(--g-s-s)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:500;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#3B3B3B;--tt:none;word-break:break-word;overflow:hidden"
        >
        <p><span style="color:#3B3B3B;"><strong>Step 2: &nbsp; &nbsp;Knead and squeeze</strong></span></p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gZX2sjRvjp "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:15px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#6B6E74;--tt:none;word-break:break-word;overflow:hidden"
        >
        <p>Begin by gently kneading the Therapy Dough between your palms to warm it up and release the soothing aroma. As you knead, focus on releasing any tension or stress stored in your hands and body.</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gy3xqUd7ob "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pb:var(--g-s-s);--pb-mobile:var(--g-s-s)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:500;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#3B3B3B;--tt:none;word-break:break-word;overflow:hidden"
        >
        <p><span style="color:#3B3B3B;"><strong>Step 3: &nbsp; &nbsp;Repeat as needed</strong></span></p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gOi0qvO212 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#6B6E74;--tt:none;word-break:break-word;overflow:hidden"
        >
        <p>Take your time with the Therapy Dough and repeat the kneading and squeezing motions as needed to feel relaxed.</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-505483104639517575 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/familidoo/apps/bold/app/shopify/edit?pageType=GP_PRODUCT&editorId=505483104538854279&sectionId=505483104639517575)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
