
  
  
      <style>
        @font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAopxRSW3w&skey=cd068b3e1b767e51&v=v14) format('woff');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwARZtRSW3w&skey=cd068b3e1b767e51&v=v14) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu6-K6z9mXgjU0.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu0-K6z9mXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu6-K6z9mXgjU0.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu0-K6z9mXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

      </style>
    
  <style>
    .gps-504347000913790058 .pointer-events-auto{pointer-events:auto}.gps-504347000913790058 .relative{position:relative}.gps-504347000913790058 .mx-auto{margin-left:auto;margin-right:auto}.gps-504347000913790058 .mb-0{margin-bottom:0}.gps-504347000913790058 .\!inline{display:inline!important}.gps-504347000913790058 .flex{display:flex}.gps-504347000913790058 .grid{display:grid}.gps-504347000913790058 .h-full{height:100%}.gps-504347000913790058 .w-full{width:100%}.gps-504347000913790058 .max-w-full{max-width:100%}.gps-504347000913790058 .flex-col{flex-direction:column}.gps-504347000913790058 .gap-y-0{row-gap:0}.gps-504347000913790058 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-504347000913790058 .duration-200{transition-duration:.2s}.gps-504347000913790058 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-504347000913790058 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-504347000913790058 .\[\&_p\]\:inline p{display:inline}.gps-504347000913790058 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-504347000913790058 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gkgEvWAdbI"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pl:15px;--pb:72px;--pr:15px;--pt-mobile:0px;--pl-mobile:25px;--pb-mobile:var(--g-s-xxs);--pr-mobile:25px;--pt-tablet:63px;--pl-tablet:15px;--pb-tablet:63px;--pr-tablet:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gkgEvWAdbI mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ghQhdMsnQu relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gW11l1JhoK"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(undefined);--cg:auto;--pc:end;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gW11l1JhoK mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g-BG-TGMUH relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image g6tHYWK2Ww"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(undefined);--mb-mobile:22px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:left"
      >
        <img
    quality="70" title="Babycare Monitor"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "499742552031757542-c9ff82d2-2429-40c1-949d-dec37a5d5177.jpg" | file_url }}" data-srcset="{{ '499742552031757542-c9ff82d2-2429-40c1-949d-dec37a5d5177.jpg' | file_img_url: '768x768' }} 768w, {{ '499742552031757542-c9ff82d2-2429-40c1-949d-dec37a5d5177.jpg' | file_img_url: '1024x1024' }} 1024w, {{ '499742552031757542-c9ff82d2-2429-40c1-949d-dec37a5d5177.jpg' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1205" height="1205" alt="baby care
baby monitor
baby monitor device
baby care device
baby care mobile app
baby care free app
baby care free application" priority base-src
    sizes="100vw"
    style="--aspect:1205/1205;--aspect-tablet:1205/1205;--aspect-mobile:1205/1205;--objf:cover;--w:80%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gUDJEQEkGQ relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gtDioNsyI3"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(undefined);--pl:56px;--pr:56px;--pl-mobile:auto;--pr-mobile:auto;--pl-tablet:var(--g-s-l);--pr-tablet:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gtDioNsyI3 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="grwKvXaW50 relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gLKNtrgE2A"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:left"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "499742552031757542-8e9d52cb-0a07-44d1-a251-3d2f9686caea.png" | file_url }}" data-srcset="{{ '499742552031757542-8e9d52cb-0a07-44d1-a251-3d2f9686caea.png' | file_img_url: '768x768' }} 768w, {{ '499742552031757542-8e9d52cb-0a07-44d1-a251-3d2f9686caea.png' | file_img_url: '1024x1024' }} 1024w, {{ '499742552031757542-8e9d52cb-0a07-44d1-a251-3d2f9686caea.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="512" height="512" alt="Alt Image" priority base-src
    sizes="100vw"
    style="--aspect:512/512;--aspect-tablet:512/512;--aspect-mobile:512/512;--objf:cover;--w:50px;--w-tablet:50px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    <div
      parentTag="Col"
        class="g84C-h4XnQ "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s);--mb-mobile:var(--g-s-s);--mb-tablet:var(--g-s-s)"
      >
      <div class="flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-DM-Sans, 'DM Sans');--weight:700;--ls:normal;--lh:120%;--size:38px;--size-tablet:35px;--size-mobile:26px;word-break:break-word;overflow:hidden"
        >
        <p>Stay connected all the time</p>
        </h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gZTnWKMh-q "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:20px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--fs:normal;--ff:var(--g-font-DM-Sans, 'DM Sans');--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >
        <p>The ability to monitor your baby's movements and receive alerts on your smartphone provides unmatched convenience and flexibility. Whether you're at home, at work, or on the go, you can keep an eye on your baby without being tied down to a traditional baby monitor.</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gfbOulFHaV"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(undefined);--cg:auto;--pc:end;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gfbOulFHaV mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gMGNgQy76u relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gAjUP93KbK"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(undefined);--mb-mobile:13px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:left"
      >
        <img
    quality="70" title="Babycare Monitor"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "499742552031757542-bb4296ea-1309-4cd0-8446-643253aadb23.jpg" | file_url }}" data-srcset="{{ '499742552031757542-bb4296ea-1309-4cd0-8446-643253aadb23.jpg' | file_img_url: '768x768' }} 768w, {{ '499742552031757542-bb4296ea-1309-4cd0-8446-643253aadb23.jpg' | file_img_url: '1024x1024' }} 1024w, {{ '499742552031757542-bb4296ea-1309-4cd0-8446-643253aadb23.jpg' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="2048" height="2048" alt="baby care
baby monitor
baby monitor device
baby care device" priority base-src
    sizes="100vw"
    style="--aspect:2048/2048;--aspect-tablet:2048/2048;--aspect-mobile:2048/2048;--objf:cover;--w:80%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gmrW78G37d relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gIENH_7VVk"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(undefined);--pl:56px;--pr:56px;--pl-mobile:auto;--pr-mobile:auto;--pl-tablet:var(--g-s-l);--pr-tablet:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gIENH_7VVk mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gVB0V9DMQ1 relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image g7_YcZD-1j"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:left"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "499742552031757542-72a4cc41-9cc0-4494-bbae-46f2dce3731d.png" | file_url }}" data-srcset="{{ '499742552031757542-72a4cc41-9cc0-4494-bbae-46f2dce3731d.png' | file_img_url: '768x768' }} 768w, {{ '499742552031757542-72a4cc41-9cc0-4494-bbae-46f2dce3731d.png' | file_img_url: '1024x1024' }} 1024w, {{ '499742552031757542-72a4cc41-9cc0-4494-bbae-46f2dce3731d.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="512" height="512" alt="Alt Image" priority base-src
    sizes="100vw"
    style="--aspect:512/512;--aspect-tablet:512/512;--aspect-mobile:512/512;--objf:cover;--w:40px;--w-tablet:50px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    <div
      parentTag="Col"
        class="gRleqR9EPJ "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s);--mb-mobile:var(--g-s-s);--mb-tablet:var(--g-s-s)"
      >
      <div class="flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-DM-Sans, 'DM Sans');--weight:700;--ls:normal;--lh:120%;--size:38px;--size-tablet:35px;--size-mobile:26px;word-break:break-word;overflow:hidden"
        >
        <p>Reduce postpartum insomnia</p>
        </h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gdH8cu35Pg "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:12px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--fs:normal;--ff:var(--g-font-DM-Sans, 'DM Sans');--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >
        <p>This peace of mind can significantly reduce parental anxiety and promote better overall mental well-being.</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gRojxTJUXN"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(undefined);--cg:auto;--pc:end;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gRojxTJUXN mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gtRknYGPsA relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gs4XKML1Km"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(undefined);--mb-mobile:13px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:left"
      >
        <img
    quality="70" title="Babycare Monitor"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "499742552031757542-8207072d-1ec8-44c6-988d-b3d55877de4f.jpg" | file_url }}" data-srcset="{{ '499742552031757542-8207072d-1ec8-44c6-988d-b3d55877de4f.jpg' | file_img_url: '768x768' }} 768w, {{ '499742552031757542-8207072d-1ec8-44c6-988d-b3d55877de4f.jpg' | file_img_url: '1024x1024' }} 1024w, {{ '499742552031757542-8207072d-1ec8-44c6-988d-b3d55877de4f.jpg' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="679" height="679" alt="baby care
baby monitor
baby monitor device
baby care device" priority base-src
    sizes="100vw"
    style="--aspect:679/679;--aspect-tablet:679/679;--aspect-mobile:679/679;--objf:cover;--w:80%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gySyFgx4z4 relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gp8lbKK6pk"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(undefined);--pl:56px;--pr:56px;--pl-mobile:auto;--pr-mobile:auto;--pl-tablet:var(--g-s-l);--pr-tablet:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gp8lbKK6pk mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gUaZNh4N7F relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gx3FRuyyZb"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:left"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "499742552031757542-458aa90c-d282-45b6-b81d-06001426d9f6.png" | file_url }}" data-srcset="{{ '499742552031757542-458aa90c-d282-45b6-b81d-06001426d9f6.png' | file_img_url: '768x768' }} 768w, {{ '499742552031757542-458aa90c-d282-45b6-b81d-06001426d9f6.png' | file_img_url: '1024x1024' }} 1024w, {{ '499742552031757542-458aa90c-d282-45b6-b81d-06001426d9f6.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="512" height="512" alt="Alt Image" priority base-src
    sizes="100vw"
    style="--aspect:512/512;--aspect-tablet:512/512;--aspect-mobile:512/512;--objf:cover;--w:40px;--w-tablet:50px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    <div
      parentTag="Col"
        class="gK30BZGGow "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s);--mb-mobile:var(--g-s-s);--mb-tablet:var(--g-s-s)"
      >
      <div class="flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-DM-Sans, 'DM Sans');--weight:700;--ls:normal;--lh:120%;--size:38px;--size-tablet:35px;--size-mobile:26px;word-break:break-word;overflow:hidden"
        >
        <p>Piece of mind for parents</p>
        </h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gYdrR8X6e_ "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--fs:normal;--ff:var(--g-font-DM-Sans, 'DM Sans');--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >
        <p>With constant smartphone connectivity, you can rest assured knowing that you're always connected to your baby, even when you're not physically present.&nbsp;</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-504347000913790058 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/familidoo/apps/bold/app/shopify/edit?pageType=GP_PRODUCT&editorId=504347000829903978&sectionId=504347000913790058)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
